[2016-08-15 18:00] psyhtest opened #1 "CK-Caffe installation fails due to an HDF5 dependency"
On Odroid-XU3, HDF5 library files get installed into `/usr/lib/arm-linux-gnueabihf/hdf5/serial/`:

[code]

The standard Caffe `Makefile.config`, however, hardcodes the library paths as follows:

[code]

Should create a CK description for HDF5 and use it instead as e.g.

[code]

[2016-08-15 18:58] psyhtest commented on #1
A trivial workaround is of course:

[code]

[2016-08-20 12:16] psyhtest opened #2 "Improve CK-Caffe installation paths"
I have installed several  variants of Caffe on an Odroid XU3 board with the following paths under `~/CK_TOOLS/`:

[code]

I suggest two improvements to how installation paths are generated:
- Include a Git revision of Caffe used (instead of `trunk`).
- Remove Git revisions from fixed releases of libraries (e.g. OpenBLAS 0.2.18, ViennaCL 1.7.1, clBLAS 2.4), but not from development branches (e.g. `

[2016-09-02 09:24] psyhtest commented on #1
On another platform, HDF5 was found in `/usr/local/HDF_Group/HDF5/1.8.17/lib` under the name of `libhdf5-shared.so`, so the problem is not unique to Odroid-XU3.

[2016-09-02 15:50] ducha-aiki opened #3 "Feel free to use already done benchmarks :)"
https://github.com/ducha-aiki/caffenet-benchmark

[2016-09-06 13:32] gfursin commented on #1
I added soft:lib.hdf5 to ck-env repo. To check:

$ ck pull repo:ck-env
$ ck check soft:lib.hdf5

I search for libhdf5.so and then detect include directory with hdf5.h

Environment set:
- CK_ENV_LIB_HDF5_LIB
- CK_ENV_LIB_HDF5_INCLUDE

You may now try to add it to CK-CAFFE as deps and update cmake ...
Please, tell me if you need further help ...

[2016-09-07 14:05] psyhtest commented on #1
@gfursin Thanks! I've successfully tested this on the Odroid-XU3 and an x86-64 laptop.

Just a little niggle. On the laptop, the environment paths look like:

[code]

The latter is actually a symbolic link to `../../../../include/hdf5/serial`, which turns out to be `/usr/include/hdf5/serial/`. It would be a bit less confusing to write that into the environment directly but I guess it depends on th

[2016-09-07 16:47] psyhtest opened #4 "Automate CK-Caffe benchmarking across nets and libraries"
This [notebook](https://github.com/dividiti/ck-caffe-explore-batch-size-chromebook2/blob/master/script/explore-batch-size/explore_batch_size.20160809.ipynb) investigates effects on inference performance of varying the batch size:
- across 4 **nets**:
  - [AlexNet](https://github.com/BVLC/caffe/tree/master/models/bvlc_alexnet)
  - [SqueezeNet 1.0](https://github.com/DeepScale/SqueezeNet/tree/master

[2016-09-07 19:32] gfursin commented on #3
Thanks for the note - really great project and very interesting results! I believe we should be able to integrate your parametrized models to our CK crowdtuning workflow to crowdsource its optimization. Just need to find time now ;) ...

By the way, at the moment we are focusing more on lower level optimizations as well as building infrastructure for collaborative and reproducible benchmarking and

[2016-09-08 10:12] gfursin commented on #1
I have fixed all that right now. I also improved output of the detect soft module ... Please, update all repos (ck pull all --kernel) and try again ... Thanks!
P.S. CK_ENV_LIB_HDF5 is a bit ambiguous environment, so I suggest not to rely on it - originally it was the path to the root directory where lib, include, bin resides, but now, when we automatically detect soft, there is often no root direc

[2016-09-08 11:53] psyhtest commented on #1
It looks much nicer now with:

[code]

instead of:

[code]

Thanks! I've added HD5 dependencies to all the Caffe packages now, and it works a charm so far.

As for `CK_ENV_LIB_HDF5`, if some software relies on `lib` and `include` to have  a common parent dir, on Linux it can always access the parent dir as `${CK_ENV_LIB_HDF5_LIB}/..` or `${CK_ENV_LIB_HDF5_INCLUDE}/..` (which should be as easy on W

[2016-09-08 11:53] #1 closed, assigned to nobody

[2016-09-08 19:53] gfursin commented on #2
There is a problem implementing that (at least with my knowledge). When installing a package, I first prepare a path, then make git clone, and only then get revision. Changing the order may complicate things. In a longer term, I would prefer to move GIT URL + branch info to the package meta, so that CK could handle that. Then we can have more flexibility to implement above naming convention.
By th

[2016-09-09 07:47] psyhtest commented on #2
Agree. We already have URLs and branches in CK-Caffe packages' metadata e.g. in `ck-caffe/package/lib-caffe-bvlc-opencl-clblast/.cm/meta.json`:

[code]

This can be naturally generalised to VCS (version control system) parameters e.g.:

[code]

(The latter to handle other types of VCSs.)

The required Git command is:

[code]

or to get a standard short hash (i.e. hash characters 1-7):

[code]

For

[2016-09-09 12:50] psyhtest opened #5 "Specify program:caffe dependencies per command"
Currently, CK-Caffe supports the following commands:

[code]

As can be seen, commands 0-1 (`query_gpu_*`) require neither weights nor a model specified; commands 2-3 (`test_*`) required both weights and a model; commands 4-5 (`time_*`) require only a model. However, even if a user is only interested in evaluating the execution time (`time_*`), she needs to select weights and a data set (e.g. a se

[2016-10-17 12:36] psyhtest opened #6 "Only show commands that are applicable for a selected variant of Caffe"
CK-Caffe provides several packages for building Caffe. If no package is installed, the user is offered to install one of them when running `program:caffe` for the first time e.g.:

[code]

Once a package is installed, the user is offered to choose one of the available commands e.g:

[code]

A user common mistake is to select a command that's not applicable to the selected package which all ends up

[2016-12-01 19:25] psyhtest opened #7 "Automate patching NVIDIA's fork of Caffe on 64-bit ARM systems (e.g. Tegra TX1)"
This [patch](https://github.com/dividiti/ck-caffe/commit/f3d3abd00ffb0647d8fac5b5d07ee22d2d8e87a9) should be automatically applied to NVIDIA's fork of Caffe on 64-bit ARM systems (e.g. Tegra TX1) when installing all the related packages (currently, `lib-caffe-nvidia-0.15-cuda` and `lib-caffe-nvidia-0.15-cudnn`).

Because of the reliance on the common installation script in `lib-caffe-bvlc-master-c

[2016-12-02 10:54] DVEfremov opened #8 "Do not mark correct_answer from user as mispredicted if it equals to top variant of raw_results"
#**Preconditions and steps to reproduce:**
* Install android app
* Download any scenario
* Run "recognize" button
* Select first variant from the list at result page
* Open crowd results http://cknowledge.org/repo/web.php?template=cknowledge&action=index&module_uoa=wfe&native_action=show&native_module_uoa=program.optimization
and select
"crowd-benchmark Caffe library using mobile devices"

**Actua

[2016-12-03 10:42] bhack commented on #4
What about the direct convolution of libdnn?

[2016-12-03 11:44] psyhtest commented on #4
We already support libDNN (in fact, 4 flavours: with CUDA, ViennaCL, clBLAS and CLBlast). I will release some experimental data shortly. What we need is a tighter integration of lidDNN tuning with CK-Caffe.

[2016-12-03 11:48] bhack commented on #4
Oh thank you I supposed that libdnn was between the lines ;). We are using [standalone version](https://github.com/naibaf7/libdnn) in [tiny-dnn](https://github.com/ctuning/ck-tiny-dnn)

[2016-12-03 13:47] bhack commented on #4
/cc @edgarriba

[2016-12-03 13:54] bhack commented on #4
One of the point is that CLBlast use CLTune for tuning and libdnn it is own tuning component cause kernel tuning approach and strings handling are quite different. Also for Opencl and CUDA bootstrap and kernel launch libdnn use viennacl and CLBlast CLCUDAAPI. In tiny-dnn we adopted CLCUDAAPI but upstream in libdnn we have tuning, bootstrap and lanuch components replicated in libdnn.

[2016-12-03 17:24] gfursin commented on #4
Well, CK operates on a higher level, i.e. it is possible to plug in to CK-based crowd-tuner any workload and even sub-tuner (such as CLBlast, Open Tuner, or libDNN tuner), describe what to tune and what to collect (execution time, accuracy, memory foot print, energy), then compile/run/crowd-tune it across different machines and share knowledge. Depending on the time (which we sadly do not have now

[2016-12-03 17:35] bhack commented on #4
Yes IMHO from our third party point of view the problem is more related to all the code duplicated required to bootstrap opencl, compile program and launch the kernel for benchmarking that is required by each tuning sub implementation. Probably separating pure tuning (kernel code generation) and timing components from device setup, program compiling and exectuion could let to have less duplicated

[2016-12-03 17:56] gfursin commented on #4
I totally agree with that! In fact, one the reasons why I developed CK is to stop researchers and engineers continuously duplicate various tools, but reuse existing ones with some common and simple API ;) ... But persuading users unify techniques and tools is very hard ;) . That's why we continue working on our universal experimentation framework (compilation, execution, autotuning, replay, etc) a

[2016-12-03 19:10] bhack commented on #4
In gemmbench I see that you are still handling pure Opencl cl2.hpp object. We found that unfied CLCUDAAPI is very useful also if it is still
not covering all the cases. I.e. the problem with some standards is that there are always extension or corner cases ;). I.e. See https://github.com/CNugteren/CLCudaAPI/issues/11

[2016-12-04 15:49] gfursin commented on #4
That's right - GemmBench was more about testing high-level CK
crowd-tuning concept
and showing how authors could share their workloads and crowdsource
optimization
using CK. We plan to extend it in Q1 2017, so I added your note there:
https://github.com/dividiti/gemmbench/issues/5
Thanks!

On 2016-12-03 20:10, bhack wrote:

[2016-12-08 07:15] DVEfremov opened #9 "Why classification.bin is 3.5 MB ?"
* $ ck compile program:caffe-classification
* Now classification  binary after compilation using ck compile is 3.5 MB :
[code]

but if built it originally
* $ git clone https://github.com/BVLC/caffe
* Install all deps from http://caffe.berkeleyvision.org/installation.html
* $ mkdir build
* $ cd build
* cmake ..
* make all

It's only 75KB

[code]

[2016-12-08 07:28] gfursin commented on #9
Yes, I know and tried to figure that out, but didn't manage. Tried to look at the command lines with all paths and included libs but they look similar. So maybe one of sub-libraries includes something statically ... Don't forget that in CK we are trying not to use cmake magic (it's trying to be smart, while we want to know in the above workflow what is used), but set compilation flow via CK and ma

[2016-12-08 07:30] DVEfremov opened #10 "Caffe benchmarking fails on Android"
**Steps to reproduce**
* $ ck install package:lib-caffe-bvlc-master-cpu-android --target_os=android21-arm64
* $ When compiling select gflags package 2.1.2, not trunk!
* $ copy compiled caffe binary to your mobile device (/data/local/tmp)
* $ adb shell
* $ cd /data/local/tmp
* $ chmod 755 ./caffe
* $ ./caffe time --model={path to caffe model - can copy from Android app} --iteration=1

**Actual resu

[2016-12-08 07:43] gfursin commented on #10
Daniil, just one note that it will not recognize images but will be benchmarking network topology. It's a standard way of benchmarking Caffe, that's why we need it ... Thanks!

[2016-12-08 12:51] DVEfremov commented on #9
compilation command for caffe-classification using ck is
[code]

size of classification.cpp.o ~50KB

Also I've compared result of
` $ readelf --symbols classification`
for both version and found static lib links for ck compiled version:

[code]

So to reduce size need to remove from static link libs like
* GLIBCXX_
* CXXABI

[2016-12-09 06:02] DVEfremov commented on #10
Also according to issue described at https://github.com/ctuning/ck-math/commit/5ad3f9ebb92f1c1b0969836c8d282dd3e4410d6b#commitcomment-20118732

I've tried to reproduce it with command
* ck compile program:caffe  --target_os=android21-arm6
and selected
** 0) lib-caffe-bvlc-master-opencl-android  Version trunk
** 3) lib-viennacl-opencl-trunk-android  Version trunk
And got error:
[code]

[2016-12-09 06:24] DVEfremov commented on #10
Now got another problem with
* $ ck install package:lib-caffe-bvlc-master-cpu-android --target_os=android21-arm64

[code]

and I'm not able to select
 "gflags package 2.1.2, not trunk!"

at
~/CK-TOOLS/lib-caffe-bvlc-master-trunk-android-ndk-4.9.x-development-1a02f28-development-b6a5e05-1.58.0-development-433edc7-android21-arm64/src/src/caffe/util/benchmark.cpp
used "boost" lib
`#include <boost/dat

[2016-12-09 08:13] gfursin commented on #10
For OpenCL - the problem is that you have it already installed for x86-64 but not for ARM64 and CK automatically detects it and picks it up as default (I don't have check for a specific archi - if there is one, we can add it to avoid such problems)... I think I know how to solve it - I will need to add OpenCL package which has to be reinstalled for Android - I will check it later ...

As for BOOST

[2016-12-09 09:32] gfursin commented on #10
I believe I fixed openCL problem for Android. You can just update repos (ck pull all), but I am not sure for ViennaCL/OpenCL versions. Can you please try again?
BTW, I just prepared a workflow but I didn't check all deps, etc. for OpenCL version of Caffe ... Maybe @psyhtest will help with that (while I can provide fixes to CK packages). You can also check Makefiles and install.sh scripts to fix de

[2016-12-09 10:25] DVEfremov commented on #10
Ok but problem with protobuf blocks this case.

[2016-12-09 10:34] gfursin commented on #10
Working on that now ...

[2016-12-09 10:40] gfursin commented on #10
I think I fixed protobuf. You can make 'ck pull all' and then you should have an option for protobuf-3.0.0 for Android -> I checked it and it compiles fine ... Can you please check it?

[2016-12-09 11:34] DVEfremov commented on #10
Now command
$ ck install package:lib-caffe-bvlc-master-cpu-android --target_os=android21-arm64
works without any error but I'm not able to select gflags package 2.1.2

I've checked manually:
[code]
I've got version what I need v2.1.2 so continue working ...

[2016-12-09 14:04] DVEfremov commented on #10
I've got no android21-arm64 comopatible device at this moment but I've reproduced the problem at my android21-arm-v7a-32 device using lib compiled at

[code]
I1212 11:30:20.937626 12825 caffe.cpp:347] Use CPU.
I1212 11:30:20.939105 12825 net.cpp:58] Initializing net from parameters:
...
I1212 11:30:22.156471 12825 caffe.cpp:418] Total Time: 560 ms.
I1212 11:30:22.156476 12825 caffe.cpp:419] *** Be

[2016-12-09 14:19] gfursin commented on #10
Yes, I think it doesn't depend on the CPU arch. Maybe you can debug it to narrow down problem? Thanks a lot!

[2016-12-10 20:48] gfursin opened #11 "adding gflags,glog and protbuf deps to caffe libs"
We need to check how to add gflags, glog and protobuf deps to caffe libs on Linux (similar to Android). At least, when they are not installed, user will be able to pick up stable version from CK (they are in ck-autotuning repo). We just need to check how to add their directories to the cmake ...

[2016-12-12 09:43] DVEfremov commented on #10
Valgrind could be more useful but it has error and does not compiles for  arm-v7a
[code]

So adb log cat after ./caffe time ... is :

[code]

so initialization could not be applied.
The same for armv7a and armv8a-64

[2016-12-12 09:45] gfursin commented on #10
Maybe you can add some debug prints of different pointer or before/after instructions to caffe source and try to figure out where it breaks exactly?

[2016-12-12 14:00] DVEfremov commented on #10
I've run caffe and it's passed init part but crashed at enother place

from android monitor:
[code]

from adb console:
[code]
Logs looks incomplete It mean process was interrupted by OS.

Also classification works fine for the same libs.
So problem more close to memory handling at caffelib.

Will try to localize or fix ...

[2016-12-12 14:11] gfursin commented on #10
Super! That's possible. Also note that glog and gflags were not originally designed for Android, so there may be problem with them, but if you will find the problem, that would be really great!

[2016-12-13 04:42] DVEfremov commented on #10
I've tried to run at andoid x86 emulator I've got another error:

[code]

[2016-12-13 06:16] DVEfremov commented on #10
Trying to compile caffe using ck for android21-arm-v7a
got error:
[code]

[2016-12-13 06:32] DVEfremov commented on #10
Trying to compile caffe using ck for android21-arm64, also build failed
but with a little bit another error:
[code]

[2016-12-13 23:45] gfursin commented on #11
I added these 3 packages for Linux. Seems to be working.

[2016-12-13 23:45] #11 closed, assigned to psyhtest, gfursin

[2016-12-13 23:48] gfursin commented on #10
Just a note that 'ck compile program:caffe' is not working on Android (and only partially working on Linux) - it's in my ToDo to make it work properly on Android ... However, I fixed an issue with protobuf - I added BOTH host and Android version 3.0.0 which seems to be still working correctly ...

[2016-12-15 02:33] DVEfremov commented on #10
ok thanks! package instllation works fine now (for both arch):
[code]
I've got another error now at my android device at first run:
[code]
But second run almost completed (becnhmark finished  but after that sig foult):

[code]

[2016-12-15 03:01] DVEfremov commented on #10
I've applied several tests more and found sequence:
1) Segmentation fault (2 - 10 times) no logs just error
2) "terminate called after throwing an instance of 'std::length_error"  (2 - 10 times) - create log file with same error
4) works fine just after the error above but it's not stable

So at least I know it works for android but not stable. Will drill down in to debugging ...

[2016-12-15 03:37] DVEfremov commented on #10
Most Segmentation fault  for arm-v7a is

`#06 pc 00000000001d3750  /data/local/tmp/caffe_ck/libcaffe.so (caffe::GlobalInit(int*, char***)+6)`

And for arm64 almost the same, I've got no any successfull run for all tries got same error:
[code]

[2016-12-15 05:51] DVEfremov commented on #10
So detailed debug info:
[code]

shows problem with memory at  /gflags/src/gflags.cc TryParseLocked
` delete tentative_value;
`

Now I'm in progress to fix it...

[2016-12-16 03:36] DVEfremov commented on #8
Last result screen version is:
![image](https://cloud.githubusercontent.com/assets/22045452/21250911/6f0eb564-c37b-11e6-9a38-e98656dbacf4.png)

[2016-12-19 12:54] psyhtest opened #12 "Provide alternative AlexNet and GoogleNet model packages from NVIDIA's mirror"
The BVLC server is usually overloaded with model download requests. In a auxilliary [script](https://github.com/dusty-nv/jetson-inference/blob/master/CMakePreBuild.sh) for [NVIDIA's Jetson Inference](https://github.com/dusty-nv/jetson-inference), we can find links to fast mirrors hosted by NVIDIA:

[code]

[2016-12-21 16:33] gfursin commented on #5
I think I updated all that (I provided lots of new functionality, so one should do 'ck pull all'). Please, close this issue, if you check and it works ... Thanks!

[2016-12-21 23:19] psyhtest commented on #4
This is mostly implemented via a new [script](https://github.com/dividiti/ck-caffe/blob/master/script/explore-batch-size-libs-models/explore-batch-size-libs-models-benchmark.py) which benchmarks the cross-product of libraries and models available on the machine, and specified batch sizes. No web interface yet, but it's a big improvement so I'm closing this ticket.

[2016-12-21 23:19] #4 closed, assigned to nobody

[2016-12-21 23:20] psyhtest commented on #5
I believe it does - many thanks!

[2016-12-21 23:20] #5 closed, assigned to nobody

[2016-12-26 05:35] DVEfremov commented on #10
I've compiled and configured  valgrind for android app
and run so get some more details about crushing:
[code]

[2016-12-26 08:46] DVEfremov commented on #10
I've excluded gflag usage from caffe and it works fine now on android.
I'll separate caffe-time-android program to ck-caffe

[2016-12-26 13:57] DVEfremov commented on #10
So rest issues here are:
* remove hardcoded itrations = 1 from caffe-tim.cpp
* find out why model is not pushed like other files to android tmp dir
* check caffe-time with fresh caffe from master
* check caffe-time with fresh caffe from openclbranch
* add gpu support back to caffe-time (own param without gflag)
* add xopenme fine grain timers

[2016-12-26 13:59] gfursin commented on #10
I will help with model not being pushed to Android - there is some missing functionality in CK related to Android which I will try to add soon ...

[2016-12-29 07:39] DVEfremov commented on #10
fixed at PR #14
* remove hardcoded itrations = 1 from caffe-tim.cpp
* add xopenme fine grain timers

so caffe-time with proto 3.1.0 works fine now and print fine grain timers (could be modified later for example per layer)

I've been trying to add adb push deploy.prototxt ... command like for image.jpg
but I see image.jpg is data set at ck-autotuning
and model with file deploy.prototxt is package

[2016-12-30 06:52] DVEfremov opened #15 "Enable HDF5 support at caffe for android"
Now caffe for android compiles and runs without HDF5
it disable at commit like
https://github.com/DVEfremov/caffe/commit/c9abe3ac397af5729e38a947f52a270c616e4f73

but it's not clear for now why it does not work for android.
In scope of this issue need to investigate and try to enable HDF5 for android and get caffe-time program work

[2016-12-30 07:00] DVEfremov opened #16 "There is no adb push command for package file deploy.prototxt before run command for android devices"
Adb push works fine for file "photo.jpg" from data set "image-jpeg-fgg" using meta like:

[code]

But looks like it does not work for packages like caffemodel-bvlc-alexnet using meta like:

[code]

it blocks issue #10 because now file deploy.prototxt should pushed manually to /data/local/tmp/tmp before commnand
`ck run program:caffe-time --target_os=android21-arm-v7a`

[2016-12-30 07:05] DVEfremov commented on #10
So fresh caffe version with android support works fine now
to check need to modify CK/ck-caffe/package/lib-caffe-bvlc-master-cpu-android/.cm/meta.json using my fork with branch cmake_android:

[code]

[2016-12-30 07:07] DVEfremov commented on #10
Also need to modify meta to use "lib,protobuf, 3.1.0"
[code]

[2016-12-30 08:21] gfursin commented on #16
It should be now fixed in the latest update. Please, make 'ck pull all' and check again. caffe-time and classification should have all their files sent to Android device automatically!

By the way, note that model file is sent via meta
        "run_input_files": [
          "$<<CK_CAFFE_MODEL_FILE>>$"
        ],

CK picks it up from post-procest script and send file ...
Also, I now check if files

[2016-12-30 10:47] DVEfremov commented on #16
works fine now
so I'm closing it.

[2016-12-30 10:47] #16 closed, assigned to gfursin, DVEfremov

[2017-01-01 20:54] gfursin opened #18 "Problem with "caffe-time" program when using CUDA-based caffe"
I tried to run "caffe-time" with CUDA-based Caffe and got an error:
 I0101 20:51:58.352697 139585 caffe.cpp:61] *** Benchmark begins ***
      I0101 20:51:58.352701 139585 caffe.cpp:62] Testing for 2 iterations.
      F0101 20:51:58.352715 139585 layer.hpp:483] Unknown caffe mode.

At the same time "ck run program:caffe" when selecting time_gpu works fine ...

Any clues?

[2017-01-01 22:19] psyhtest commented on #18
As I understand, `caffe-time` is a simplified version of the `caffe` tool that can only be used to time execution. It currently explicitly hardcodes:
[code]
which I suspect is the problem.

[2017-01-02 20:24] gfursin commented on #18
Oh, I see - I have to admit I didn't look at inside of the source (shame on me - just didn't have time). However, I just though that it was a clone of the caffe time routine which supports not only CPU but also all other modes such as CUDA ... However, since we make it as a small tool to benchmark models across different devices including Android and we want to have OpenCL there (or CUDA on tradit

[2017-01-02 20:32] gfursin commented on #15
I don't think we should bother with that on Android (at least at this stage) - if I am correct, it's mostly needed to efficiently process huge amount of images (or other artifacts) during training, which we will unlikely to do on Android. Instead we may do small re-training (when having unexpected behavior or misclassification) or do more time-consuming re-training on a server (for example via CK

[2017-01-02 20:37] gfursin opened #19 "Can't use parallel build for Caffe with new protobuf"
I added dependency on protobuf 3.1.0 in caffe* packages to have more deterministic builds (otherwise standard protobuf in Ubuntu is quite outdated and we often hit various issues). However, after that, parallel build (i.e. make -j ${CK_HOST_CPU_NUMBER_OF_PROCESSORS}) fails with some strange errors... Is it possible to check what happens. One can just change related line in install.sh in `ck find p

[2017-01-09 01:04] psyhtest opened #20 "Implement imagenet-val command and/or caffe-test program"
The [CK-TensorRT](https://github.com/dividiti/ck-tensorrt) project has a program called [`tensorrt-time`](https://github.com/dividiti/ck-tensorrt/tree/master/program/tensorrt-time). Effectively, it's a classifier that for a given image outputs a vector of probabilities for it to belong to each of the 1,000 ImageNet synsets (categories). The most probable synset (i.e. with the highest probability)

[2017-01-09 02:26] DVEfremov commented on #18
Yes cafe-time now is minimal workable CPU version just to make sure it works at all.
Now I see I can add other options manually without gflag (problem for android version only in gflag lib).
Will do today.

[2017-01-09 09:19] psyhtest commented on #20
Note that the `tensorrt-test` program relies on the [Jetson inference library](https://github.com/dusty-nv/jetson-inference), which prints messages to stdout that need to be parsed later. With a new `caffe-test` program, we can output all we need directly to JSON using the cJSON library. We really only need image classes (i.e. integers in the range of 0 to 999). Even timing information is extra.

[2017-01-09 12:39] DVEfremov commented on #18
PR #21 contains full functional caffe version with same commands and options but without gflag so it works  for android.

One limitation for option usage:
* gflag allow to use many variant of option definition like
  *   -key=value
  *  --key=value
  *  -key value
  *  --key value

but at my version works only (as already defined at meta for caffe program)
*  --key=value

[2017-01-10 03:26] DVEfremov commented on #18
I've fixed a couple of minor issues and merged last changes from master.
Checked compile/run - works fine.

[2017-01-10 10:58] DVEfremov commented on #10
Looks like we can close this issue ...
Just after PR #18

[2017-01-10 10:59] psyhtest commented on #6
@gfursin I believe this is done now, albeit in a reverse fashion: first the user gets asked about the command, then is offered to select or install a package?

[2017-01-10 11:00] psyhtest commented on #9
What still needs to be done here?

[2017-01-10 11:07] DVEfremov commented on #9
Ideally make classification binary same size (not so big as 3.5 MB) by removing from static link libs like
* GLIBCXX_
* CXXABI

As I can see it could be applied by some flags for caffe-classification sk compilation process ...

[2017-01-10 11:18] psyhtest commented on #12
[Committed](https://github.com/dividiti/ck-caffe/commit/f9a2c5f1974363bc9c4d80f39a0d5717d911b88e).

[2017-01-10 11:18] #12 closed, assigned to nobody

[2017-01-10 13:25] DVEfremov opened #22 "Compile and run opencl version of caffe for android"
Steps to reprodice
* run ck run program:caffe-time --target_os=android21-arm-v7a
* select opencl version for caffe

Now compilation fails with error like:

[code]

This problem also discussed at https://github.com/CNugteren/CLBlast/issues/65

[2017-01-10 13:36] psyhtest commented on #22
@DVEfremov A single file implementing missing functions would be a good solution, which could be merged into CLBlast itself.

[2017-01-10 14:48] gfursin commented on #6
Yeap! That's right. I close this ticket!

[2017-01-10 14:48] #6 closed, assigned to nobody

[2017-01-10 15:49] gfursin commented on #18
Please, see comments in #21. I close this issue ...

[2017-01-10 15:49] #18 closed, assigned to psyhtest, gfursin, DVEfremov

[2017-01-10 15:49] gfursin commented on #10
We can now run caffe-time and caffe-classification via CK on Android (using both Linux and Windows as host), so I close this ticket.

[2017-01-10 15:49] #10 closed, assigned to nobody

[2017-01-11 05:51] DVEfremov commented on #9
I've compiled it once again after
ck pull all (all last install/compile unification changes) and it 74K.
So I think this issue could be closed now.

[2017-01-11 07:50] gfursin commented on #9
Daniil, CK reports object size (which may be confusing - I think I should also add size of the whole bin) and it's ~80Kb, but the classification binary is now 5Mb ... So, I believe there is still a problem ...

[2017-01-11 08:14] DVEfremov commented on #9
Ok, thanks, I'll check once again but later (after other major tasks) ...

[2017-01-11 08:33] gfursin commented on #9
Sure! Right now that's not urgent! Thanks!

[2017-01-14 15:23] DVEfremov opened #24 "Add caffe opencl program"
Add caffe-opencl-time opencl program and revert caffe-time program changes merged at PR #23

[2017-01-16 08:59] DVEfremov opened #26 "Compilation finishes with errors for caffe-time-opencl program for clean ck env"
**1) Problem with GLOG**
Steps to reproduce
* Update / install last ck-caffe version
* Run
```ck compile program:caffe-time --target_os=android21-arm-v7a```
* Select
0) lib-caffe-bvlc-master-opencl-clblast-android  Version trunk  (ee40cd9f86372b7e)
or
1) lib-caffe-bvlc-master-cpu-android  Version trunk  (4364843d31120476)

* Get error like
[code]

however

~/CK/ck-caffe/package/lib-caffe-bvlc-mast

[2017-01-16 12:49] DVEfremov commented on #26
Works fine if do steps as follows
1) remove CK/CK-TOOLS if exist
2) install ck-caffe
$ ck pull repo:ck-caffe --url=https://github.com/dividiti/ck-caffe
3) compile ubuntu cpu version
$ ck compile program:caffe-classification

4) compile android cpu version
$ ck compile program:caffe-classification --target_os=android21-arm-v7a

5) compile android opencl version
$ ck compile program:caffe-classifica

[2017-01-16 13:22] DVEfremov opened #28 "lib-viennacl-opencl-trunk-android-ndk-4.9.x-android21-arm-v7a-32 targets to non existed incluede dir"
after installation of lib-viennacl-opencl-trunk-android-ndk-4.9.x-android21-arm-v7a-32
generates file at CK/local/env with

export CK_ENV_LIB_VIENNACL_INCLUDE=/home/daniil/CK-TOOLS/lib-viennacl-opencl-trunk-android-ndk-4.9.x-android21-arm-v7a-32/include

but where is no dir
/home/daniil/CK-TOOLS/lib-viennacl-opencl-trunk-android-ndk-4.9.x-android21-arm-v7a-32/include

so it targets to non existed

[2017-01-17 03:20] DVEfremov commented on #26
Steps for compilation caffe-opencl-time for android without errors
1)$ ck  compile program:caffe-classification
2)$ ck  compile program:caffe-classification   --target_os=android21-arm-v7a
3)$ ck  compile program:caffe-time  --target_os=android21-arm-v7a

Other combinations for example compile leads to errors:
1) clean up env / ck /tools
2) install ck-caffe
3) $ ck  compile program:caffe-opencl-ti

[2017-01-17 03:34] DVEfremov opened #29 "Move all tmp dirs from repos like ck-caffe/program/caffe-classification/tmp to ~/CK/local/tmp"
I've found some tmp dirs at reposotories
~/CK/ck-caffe/program/caffe-classification/tmp
but also there is some local storage with some local specific information
~/CK/local/env

it better to keep all local specific temporary  information at one place for example
~/CK/local/env (as it is now)
and
~/CK/local/tmp (should be implemented)

[2017-01-17 10:31] gfursin commented on #29
Yes, this is because it is a CK 'program' entry. For such entries, CK creates a tmp dir inside this entry to keep temporal object files, temporal deps, produced binaries, etc. This was done on purpose, so that when a user compiles and runs a given program, it's easier to look at produced files in the same directory. Also you can remove all such tmp in one go:
$ ck clean_tmp program
But eventually,

[2017-01-17 10:37] gfursin commented on #28
It's likely because I didn't have time to check OpenCL related packages.
This include is normally prepared in soft:lib.viennacl (customize.py) - I guess there is a mistake there ...

[2017-01-17 11:00] gfursin commented on #26
That is very strange - seems like one package is not correctly installed for OpenCL Caffe for Android and requires headers or something else from non-Android package - I will try to check it at some point ...

[2017-01-17 12:27] DVEfremov commented on #26
Also some times generated scripts at CK/local/env/<uid>/env.sh
exports wrong path to libs:
for example
android libs like gfalg or glog targes to local ubuntu's
/user/lib dirs

fortunally I cant' provide right step to reproduce but it happens if
recompile same lib (for example caffe)  with different dependent lib variations

[2017-01-17 12:31] gfursin commented on #26
It may happen - the first quick prototype of soft description is usually very simple and I often just append 'lib' or 'include' to the install path. However, with time, we should make them more robust (like in CMake) and make proper detection of all paths ...

[2017-01-17 12:32] gfursin commented on #26
And in general, we want to improve soft/env/package one day and make it more formal - I think we have a related ticket about that. But for now, it already lets us do quick prototyping, so it's fine ...

[2017-01-17 14:43] DVEfremov commented on #28
this issue fixed in scope of ck-caffe/issue/22

[2017-01-18 01:47] DVEfremov commented on #28
Fixed at
https://github.com/ctuning/ck-math/pull/4/
closing

[2017-01-18 01:47] #28 closed, assigned to nobody

[2017-01-19 10:57] DVEfremov opened #31 "Unify installation process of packages required for ck-caffe programs"
Some packages required for caffe* program compilation are not unified so goal is convert all package installation process to unified as applied already for lib-gflags-2.2.0.

So here is list of packages required for ck-caffe programs  and state (unified or not)
* lib-boost - UNIFIED
* lib-blas - CAN'T FIND PACKAGE WITH THIS NAME
* lib-caffe (lib-caffe-bvlc-opencl-clblast-android) - NOT
  * lib-lmd

[2017-01-19 11:04] DVEfremov commented on #26
Enother case
I've tried to compile
ck compile program:caffe-opencl-time --target_os=android21-arm64
just after I've successfully compiled
ck compile program:caffe-opencl-time --target_os=android21-arm64

and got error for arm64
[code]

[2017-01-19 12:53] DVEfremov commented on #31
I've been unifying lib-lmdb at this moment ...

[2017-01-20 06:02] DVEfremov opened #32 "rename program caffe-opencl-time to caffe-time-opencl"
I've applied command
`ck ren ck-caffe:program:caffe-opencl-time ck-caffe:program:caffe-time-opencl`
and tested it with commands
[code]
works fine

[2017-01-20 09:16] DVEfremov opened #34 "Use fresh BVLC/caffe opencl version for android"
Need check last BVLC/caffe opencl version how it compiles and work for android.

It possible use my fork https://github.com/DVEfremov/caffe
new branch opencl_cmake_android from opencl branch of BVLC/caffe with merged commit
https://github.com/DVEfremov/caffe/commit/c9abe3ac397af5729e38a947f52a270c616e4f73

[2017-01-22 08:48] gfursin commented on #31
I believe I unified all packages except lib-lmdb ... It would be good to be able to compile for Linux, Android, Windows via our universal install script ... But it's not urgent - more important is to make Caffe OpenCL version work ...

[2017-01-22 08:49] gfursin commented on #34
Let's check it next week - so far I didn't manage to use it (looks like it was missing OpenCL version - maybe wrong commit or I did something wrong) ...

[2017-01-23 05:35] DVEfremov commented on #34
Finally I've compiled caffe libs based on github.com/BVLC/caffe branch opencl and it works!
I applied some changes to get it works as follows:

1) I've created fork
https://github.com/DVEfremov/caffe
from
BVLC/caffe branch opencl and added some changes to disable HDF5 mostly the same as for master version to my branch opencl_cmake_android
2)  added missed functions for caffe as for clblast
3)  tem

[2017-01-24 09:32] DVEfremov opened #35 "Libs after modification and recompilation is not pushed to device on run action for android devices"
Steps to reproduce
* Compile caffe-time opencl for example
$ck compile program:caffe-time-opencl --target_os=android21-arm-v7a
* run it on device
* ck run program:caffe-time-opencl --target_os=android21-arm-v7a --env.CAFFE_COMPUTE_DEVICE_ID=0
* check libs sizes
adb ls -l /data/local/tmp/tmp/*.so
* -rw-r--r-- shell    shell    18051260 2017-01-23 17:44 libOpenCL.so
-rw-rw-rw- shell    shell    2238

[2017-01-24 09:32] DVEfremov commented on #35
Iit's not critical and could be fixed later.

[2017-01-24 10:11] DVEfremov opened #37 "Enable multi GPU support for opencl version caffe.cpp"
I've temporary disable multi GPU support at caffe.cpp
https://github.com/dividiti/ck-caffe/pull/36
because of different API just for fast prototyping and get opencl version work on android as fast as possible at this moment.
In scope of this task I'll enable and check it.

[2017-01-24 10:18] gfursin commented on #37
I agree - I also saw this problem, but we can fix it after making Caffe OpenCL work on Android ... Thanks!

[2017-01-24 13:14] DVEfremov commented on #22
So I've fixed issue with run time cl code compilation
[code]
with explicit abstract type cast to float:
https://github.com/DVEfremov/caffe/commit/71480764153f75770c988fed2e64572392c8e649
https://github.com/DVEfremov/caffe/commit/a7694a115799cf92e0ce97bf4c8a37bce726f286

because
[code]
looks strange and seems like leads to unsupported argument type errors

[2017-01-24 13:29] DVEfremov commented on #22
So I'me faced with another problem now
[code]

and I've found some related issues
https://github.com/rickyHong/caffe-for-clblast-branch/issues/1

[2017-01-25 11:13] DVEfremov commented on #22
I've found cause for my case
1) I've dded additional debug info
https://github.com/DVEfremov/caffe/commit/6cb389dbe82d56f3ce6acc4361113746a266edc1

and got
[code]
so just for my device it means just not enough memory
I've fixed it with batch_size = 1 at deploy.prototxt
[code]

[2017-01-25 11:14] DVEfremov commented on #22
I've tested CPU version works fine after all my changes.

[2017-01-25 12:17] DVEfremov commented on #22
I've tested  caffe-time-opencl for
* Caffe model (net and weights) (deepscale, squeezenet, 1.1) - v1.1
* Caffe model (net and weights) (deepscale, squeezenet, 1.0) - v1.0
* Caffe model (net and weights) (bvlc, googlenet)
* Caffe model (net and weights)

 works fine

[2017-01-26 10:23] DVEfremov opened #39 "Reduce log text under windows"
code logs prints with code as follows:
[code]
and for linux looks like
[code]
but for windows it looks like:
[code]

Need to find some default glog setting for windows to remove absolute path for cpp file where it was logged
I thing we can find some params could be passed to override defaul glog setting

[2017-01-26 10:32] DVEfremov opened #40 "caffe-time-opencl and caffe-classification-opencl doesn't works on S7"
It works now for Galaxy Note 4 with batch_size = 1 for all models
but fails for glaxy s7 for all models:
[code]

So it fails  at syncedmem.cpp:281 (case HEAD_AT_CPU) for Galaxy S7

but  fails at syncedmem.cpp:220 (case  UNINITIALIZED) for Galaxy Note 4
so it's different places but same reason do not enough GPU memory for buffer.

It  can be with 64-bit indexing mode (Galaxy S7) becasue:
```      I

[2017-01-26 10:57] DVEfremov opened #41 "Fix compilation error for linux cpu caffe-time program"
Compilation for caffe-classification and caffe-time fails on Linux (because of latest changes)
We need to fix all.

[2017-01-27 03:58] DVEfremov commented on #41
merged

[2017-01-27 03:58] #41 closed, assigned to DVEfremov

[2017-01-27 04:01] DVEfremov commented on #34
All steps listed above implemented.
Found issue with Galaxy S7 - > issue #40

all my changes applied at fork
https://github.com/DVEfremov/caffe
branch opencl_cmake_android
based on BVLC/caffe branch opencl

[2017-01-27 04:02] DVEfremov commented on #34
I'll create separate issue for merge my changes to BVLC/caffe branch opencl

[2017-01-27 04:02] #34 closed, assigned to nobody

[2017-01-27 04:04] DVEfremov commented on #40
caffe-classification-opencl works only with Squeeznet 1.1, but failed on all others

[2017-01-27 04:21] DVEfremov commented on #26
Looks like it works now (after unifying libs required for caffe-time-opencl).
But need to test with different variations...

[2017-01-27 04:22] DVEfremov commented on #32
renamed

[2017-01-27 04:22] #32 closed, assigned to nobody

[2017-01-27 04:27] DVEfremov commented on #24
implemented at PR https://github.com/dividiti/ck-caffe/pull/42

[2017-01-27 04:27] #24 closed, assigned to nobody

[2017-01-27 09:33] gfursin opened #43 "Caffe OpenCL CLBlast fails on x86 on Daniil's branch"
When using new OpenCL branch from Daniil, some OpenCL packages work fine, but the one with CLBlast (used in Android) fails on x86 server with GTX 1080. Original BVLC branch works though.

To reproduce:
$ ck install package:lib-caffe-bvlc-opencl-clblast-universal
$ ck run program:caffe
choose test_gpu + googlenet ...

Log for classification and time are attached.
Thanks!

[log_classification.txt](h

[2017-01-27 12:12] DVEfremov commented on #43
I've reproduced locally
and got additional cl compilation error info:

[code]

[2017-01-30 03:36] DVEfremov commented on #40
It works now after disblaing host unified memory with new compilation param
"DISABLE_DEVICE_HOST_UNIFIED_MEMORY"
for Mali GPUs because it does not support this feature in fact.
So issue could  be closed.

[2017-01-30 03:36] #40 closed, assigned to DVEfremov

[2017-01-30 03:37] DVEfremov commented on #43
Issue fixed.
It works fine now for linux and android as well

[2017-01-30 03:37] #43 closed, assigned to dsavenko, psyhtest, gfursin, DVEfremov

[2017-01-30 03:41] DVEfremov opened #44 "Profile caffe opencl version and find bottleneck at init phase of caffe.time() method"
For caffe opencl time command in GPU mode
we have 16 sec spent for init  part:
[code]
Need to find exact place (bottleneck) at init phase
and try to optimize (cache some compiled kernels for example)

[2017-01-30 03:43] DVEfremov opened #45 "Add env CAFFE_COMPUTE_DEVICE_ID to caffe-classify-* to be able to select differnet gpu"
Add env CAFFE_COMPUTE_DEVICE_ID to caffe-classify-* to be able to select differnet gpu, otherwise it's currently hardwired to 0.

[2017-01-30 04:02] DVEfremov commented on #40
so finally for Mali GPUs
need to compile caffe-opencl lib and program with option:
--env.DISABLE_DEVICE_HOST_UNIFIED_MEMORY=ON

[2017-01-30 04:12] DVEfremov commented on #44
After additional logging and execution I've found
[code]
Place at code
caffe/src/caffe/greentea/cl_kernels.cpp (5238):
[code]

[2017-01-30 04:31] DVEfremov commented on #43
So second usage of same kernel could be loaded from cache. I suppose cache path should be set before first kernel init:
[code]

See fore details: http://viennacl.sourceforge.net/doc/classviennacl_1_1ocl_1_1context.html#a6aa5ef5cb563ed047ff72f286eb5718b

[2017-01-30 04:34] DVEfremov commented on #44
So second usage of same kernel could be loaded from cache. I suppose cache path should be set before first kernel init:
[code]

See fore details: http://viennacl.sourceforge.net/doc/classviennacl_1_1ocl_1_1context.html#a6aa5ef5cb563ed047ff72f286eb5718b

[2017-01-30 08:11] gfursin commented on #44
Yes, I figured that out too, but it seems that setting VIENNACL_CACHE_PATH to some path, say /data/local/tmp/ocl-cache- forces ViennaCL to start caching and reusing compiled kernels. But it seems that cached kernels are in IR format (not executable) and still compiled each time which is the most time consuming part. Also it seems that ViennaCL calculates hashes of all files and also save cached fi

[2017-01-30 08:11] gfursin commented on #44
Extra ViennaCL debug if needed:
[log-viennacl-debug.txt](https://github.com/dividiti/ck-caffe/files/738369/log-viennacl-debug.txt)

[2017-01-30 11:35] DVEfremov opened #46 "Add env CAFFE_COMPUTE_DEVICE_ID to caffe-classify-* to be able to select differnet gpu"
Add env CAFFE_COMPUTE_DEVICE_ID to caffe-classify-* to be able to select differnet gpu.
It's currently hardwired to 0

[2017-01-30 13:23] DVEfremov commented on #44
I've tried
ck run program:caffe-time-opencl --target_os=android21-arm-v7a --env.CAFFE_COMPUTE_DEVICE_ID=0 --env.VIENNACL_CACHE_PATH=/data/local/tmp/tmp
but can't see  ViennaCL has been started caching and reusing compiled kernels:
I've checked shell@trelte:/data/local/tmp/tmp but cant's see something related to recompiled caches in IR or any other format
will continue researching
...

[2017-01-30 13:28] gfursin commented on #44
How do you check caching?

VIENNACL doesn't show debug info by default.

When recompiling Caffe packges, you need to add
to the beggining of the file "install/include/viennacl/ocl/context.hpp"
in the installed ViennaCL:

#define VIENNACL_DEBUG_ALL 1
#defined VIENNACL_DEBUG_CONTEXT 1

You can also probably put your own prints there
(std::out << ...) to check if cached files were found ...

Thanks!

[2017-01-30 13:42] DVEfremov commented on #44
http://viennacl.sourceforge.net/doc/faq.html:
[code]

[2017-01-30 13:59] gfursin commented on #44
I think OpenCL kernel caching in ViennaCL is a quite recent feature ... But again, as discussed with @psyhtest , we need to check what is cached there - sources, IR or binary (I see ELF files being recorded for kernels on Linux/Windows/Android when using VIENNACL_CACHE_PATH) ...

[2017-01-31 04:34] DVEfremov commented on #44
I've tried for linux
ck run program:caffe-time-opencl --env.VIENNACL_CACHE_PATH=/home/daniil/vienacl_cache/
and for android
ck run program:caffe-time-opencl --target_os=android21-arm-v7a env.VIENNACL_CACHE_PATH=/data/local/tmp/tmp

sorry, now I see cached files (for linux and android) like
[code]
and I see cached files for android as well:
[code]
And looks like it's GPU dependent binaries (NVideo

[2017-01-31 06:54] DVEfremov commented on #45
duplicate issue #45

[2017-01-31 06:54] #45 closed, assigned to DVEfremov

[2017-01-31 21:15] psyhtest commented on #44
I've checked the source. Just as I thought, caching is done before any kernels are compiled. Therefore, all kernels need to be recompiled, once the binary is loaded. I'll experiment with changing the order of compilation to see if that helps.

[2017-02-01 04:08] DVEfremov opened #48 "compilation fails for caffe opencl branch in CPU_ONLY mode"
Compilation fails for caffe opencl branch in CPU_ONLY mode with error:

[code]

[2017-02-01 04:15] DVEfremov commented on #48
I've fixed error  and keep same code for CPU_ONLY mode as for BVLC/caffe  master branch

[2017-02-01 05:28] DVEfremov commented on #48
Compilation works fine now but I've got problem at runtime:
[code]

also
/data/local/tmp/tmp/libOpenCL.so still required at runtime for CPU mode

I've tried to create two ck packages with reduced dependencies and turned off flags like GREEN_TEE

and can't see libOpenCL.so at compiled caffelib.so or caffe binaries:
[code]

[2017-02-01 06:00] DVEfremov commented on #48
Steps to reproduce at branch issue-48
* Compile new program
[code]
select new package
[code]

run new program
[code]

not it works without libOpenCL.so:
[code]

but still got error at run time:
[code]

looks like one more hardcoded case at opencl original branch mode works only in gpu mode

[2017-02-01 06:18] DVEfremov commented on #48
Looks like it because of stub:
/caffe/include/caffe/util/device_alternate.hpp
used in CPU mode and fails for all *_gpu methods:
[code]

[2017-02-01 07:27] psyhtest commented on #48
@daniil: it's not a bug, it's a feature! :) You can't use any GPU run commands when you compile for the CPU only!

[2017-02-01 11:22] DVEfremov commented on #39
Looks like it works fine now.

[2017-02-01 11:22] #39 closed, assigned to nobody

[2017-02-01 17:47] psyhtest opened #50 ""ck compile program:caffe-time" fails with Android NDK LLVM compiler"
[code]

Full log:
[caffe-time.android21-arm64.llvm.txt](https://github.com/dividiti/ck-caffe/files/745657/caffe-time.android21-arm64.llvm.txt)

[2017-02-01 17:56] psyhtest opened #51 ""ck compile program:caffe-time --target_os=android21-arm" fails with Android NDK GCC compiler"
[code]

Full log: [caffe-time.android21-arm.gcc.txt](https://github.com/dividiti/ck-caffe/files/745689/caffe-time.android21-arm.gcc.txt)

[2017-02-01 18:00] psyhtest commented on #51
A trivial workaround seems to use:
[code]
but one would naturally expect:
[code]
to succeed if it's allowed.

[2017-02-01 20:40] gfursin commented on #51
Well, this is a real program (and not program:caffe which is a front-end to already compiled caffe), so you need to compile it first ;). Therefore it's not a workaround, but correct usage ;) ... I also wrote it in the docs ...

As for OS - originally I had only -arm, but then it caused lots of confusion, because different packages means different things under default -arm (I noticed it when I was

[2017-02-01 20:43] gfursin commented on #50
No, we do not support LLVM yet to compile whole Caffe. We need to use GCC. LLVM can currently compile only some sub packages. I would not yet bother with that right now. However, I didn't force GCC in CK, since on Windows it will be MVSC ...

[2017-02-02 03:22] Chunosov opened #52 "Make pakage dnn-proxy-caffe for integration with crowdsource-video-experiments-on-desktop"
Extract all lib-dependent code into separate package, which will be compiled into so-file (or dll) and will have well-known set of exported function - preparation model, parallel recognition etc. The app could find this proxy lib via CK, load and do real work through it. Such proxy-lib should be depend only on required things and hide any lib-specific stuff from the desktop app.

[2017-02-02 09:01] psyhtest commented on #50
Yeah, it was wishful thinking on my behalf :). Changing the labels to `enhancement` and `help wanted`.

[2017-02-02 09:07] psyhtest commented on #51
I see what you mean. But I used the `compile` action in both cases: just with `--target_os=android21-arm-v7a` it succeeded and with `--target_os=android21-arm` failed halfway...

I guess I am complaining that CK should have given a warning and presented a list of options for the ambiguous target `arm`. In fact, it would be nice to use something like:
[code]
and then be asked to resolve the target

[2017-02-02 09:17] gfursin commented on #51
My idea was to keep basic blocks such as "program" quite simple and gradually add more functionality in a higher-level modules. As I mentioned, there is already additional functionality which we do not use much yet, where you connect your "machine", describe it, detect parameters, and then use it as a target, i.e.
 $ ck add machine:my-target-machine
above command should normally be able to detect

[2017-02-02 11:37] DVEfremov opened #53 "Add GPU caffe classification scenarios for android app"
According to new changes in ck-caffe add GPU scenarios for android app.

[2017-02-02 13:38] psyhtest opened #54 "Allow to skip forward or backward propagation in all the caffe-time* programs"
The `caffe-time` program has been [slightly restructured](https://github.com/dividiti/ck-caffe/commit/5d39948f9293fb5ffc5e175ac896b9306e8328c0) to allow to skip forward or backward propagation with the `--env.CK_CAFFE_SKIP_FORWARD` and `--env.CK_CAFFE_SKIP_BACKWARD` command line parameters.

Please apply similar changes to `caffe-time-opencl` and `caffe-time-cuda`.

[2017-02-02 13:43] psyhtest commented on #54
It appears that `caffe-time-cuda` already has this functionality, so this leaves `caffe-time-opencl` only.

[2017-02-02 13:48] psyhtest opened #55 "Should cuDNN variants be offered for program:caffe-time-cuda?"
With no CUDA packages installed, `ck compile program:caffe-time-cuda` offers the following variants:
[code]
Clearly, this list doesn't include any of cuDNN variants, which perhaps could also be used with the same program (saving on creating `program:caffe-time-cudnn`). Should the user be offered them too?

[2017-02-02 13:51] psyhtest commented on #52
Please note that similar proxy libs will be required for [CK-TensorFlow](https://github.com/ctuning/ck-tensorflow), [CK-TensorRT](https://github.com/dividiti/ck-tensorrt), etc.

[2017-02-02 18:00] psyhtest commented on #44
@DVEfremov: on your machine compilation seems to take 15-16 s. On my machine, it takes about 0 s?.
[code]

To see this, I modified `~/CK_TOOLS/lib-caffe-bvlc-opencl-viennacl-master-gcc-5.4.1-linux-64/src/caffe/greentea/cl_kernels.cpp` as follows:
[code]
and then rebuilt and rerun using:
[code]
(These are notes for myself to try on another machine.)

[2017-02-02 18:28] psyhtest commented on #44
OK, apparently NVIDIA cache compiled kernels somewhere. This cache interferes with my measurements, but can be disabled as follows:
[code]
resulting in about 2.4 s:
[code]

[2017-02-03 09:39] psyhtest commented on #44
By the way, you can use the following handy function to compute the elapsed time between two timestaps:
[code]

For example, if you `%load timestamp_delta.py` in IPython, you can compute the time difference as follows:
[code]

[2017-02-03 09:46] psyhtest commented on #44
When running the following command for the first time:
[code]
it takes about 2.4 seconds and populates the cache with the following 5 files:
[code]
whereas subsequent runs take about 1.05 seconds (not insignificant in my opinion!)

Next, I'll move to the Odroid XU3 platform and experiment there...

[2017-02-03 13:44] gfursin commented on #44
Seems to be working on Windows, but I need to check it deeper - just don't have time right now ...

[2017-02-03 16:26] psyhtest commented on #44
Made a start on the Odroid XU3, but got the following with [`dvdt-prof`](https://github.com/dividiti/dvdt-prof):
[code]
`mcl` stands for "Mali OpenCL" - it's a function internal to the Mali driver. I will try updating the driver from v10 to v12, before blaming it on `dvdt-prof` (which works fine on another platform).

**Update:** This is [OpenCL Caffe issue #60](https://github.com/naibaf7/caffe/is

[2017-02-03 16:52] gfursin commented on #44
Shocking ;) ...

On 2017-02-03 17:26, Anton Lokhmotov wrote:

[2017-02-04 06:31] gfursin opened #56 "Unifying CUDA/cuDNN packages"
At some point, we need to convert lib-caffe-bvlc-master-cuda & lib-caffe-bvlc-master-cudnn to the universal installer format similar to lib-caffe-bvlc-opencl-viennacl-universal to support both Linux and Windows. Help is appreciated.

[2017-02-07 15:38] psyhtest opened #57 "CUDA/cuDNN FP16 packages fail with linking errors on Tegra TX1"
Installing CUDA/cuDNN FP16 packages on Tegra TX1 fails with linking errors against ProtoBuf and GFlags.
[code]

[2017-02-08 07:21] DVEfremov opened #58 "switch to official opencl branch"
All my commits related to android support merged to
https://github.com/BVLC/caffe/tree/opencl

so I've tested invariants  linux/android  CPU/GPU
all works fine.
Details:
* Android - GPU clblast opencl
[code]
* Linux - GPU clblast opencl  - works fline:
[code]
* Linux - GPU opencl branch in CPU mode
[code]

* Android opencl branch in CPU mode:
[code]

[2017-02-08 10:51] DVEfremov opened #61 "rename package lib-caffe-bvlc-opencl-cpu-universal2"
Rename package lib-caffe-bvlc-opencl-cpu-universal2
and make sure it's installed to own CK-TOOLS dir
(not same as lib-caffe-bvlc-master-cpu-trunk-gcc-5.4.0-*)

[2017-02-08 12:05] Chunosov opened #62 "Need a hack to build caffe on Windows machine"
I have a clean windows system and install prerequisites: MS Visual Studio 2015 Community, CMake, MinGW, Python, git. Clone ck-caffe repo and try to build:
`ck compile program:ck-classification`
it fails with message:
[code]
search for compiler as
`ck search env --tags=compiler,microsoft`
go to env folder and manually add line
`"CK_CMAKE_GENERATOR": "Visual Studio 14"`
into meta.json in _env_ secti

[2017-02-08 12:38] DVEfremov commented on #48
works fine now closing

[2017-02-08 12:38] #48 closed, assigned to nobody

[2017-02-09 03:19] Chunosov opened #63 "Need MSYS path to build caffe on Windows machine"
msys dir must be added to PATH to make compilation of lib-openblas working.
MinGW installer does modify PATH variable by default.

1) script download-and-install-package/install.bat contains calls like sleep 2, but Windows has not this command (reported here https://github.com/ctuning/ck-env/issues/20)
2) makefile for lib-openblas calls for 'uname' and 'perl' which are not available by default and

[2017-02-09 10:00] psyhtest commented on #56
After removing the useless fp16-emu packages, we have the following:
[code]

`lib-caffe-bvlc-opencl-libdnn-cuda` is actually a libDNN package that happens to use CUDA. I would suggest to unify it similarly to `lib-caffe-bvlc-opencl-libdnn-clblast-universal`.

The `lib-caffe-nvidia-fp16-cuda/cudnn` packages use the stale fp16 experimental branch that might not support recent CMake changes. I would

[2017-02-10 03:22] Chunosov opened #64 "Need hack for lib-openblas to build caffe on Windows"
To make lib-openblas compile I had to add its source path (e.g. c:\Users\Administrator\CK-TOOLS\lib-openblas-0.2.19-mcl-compiler.gcc-5.3.0-windows-32\src) into PATH variable.
Otherwise _make_ cant find openblas's util _getarch_ (that is already built at that time) and cant generate _config.h_ properly and compilation fails.
_cd_ to this folder does't help.

[2017-02-10 03:27] Chunosov commented on #64
But after the lib has been compiled in this way, linking is failed too...
[code]

[2017-02-10 04:12] Chunosov commented on #63
Actually, openblas's wiki (https://github.com/xianyi/OpenBLAS/wiki/Installation-Guide) tells about this requirement:
[code]

[2017-02-10 05:38] Chunosov commented on #64
It seems that unable to buid openblas without fortran.
I have to replace make command in the file `CK\ck-math\package\lib-openblas-0.2.19-universal\scripts.win\install.bat`:
[code]
replace with
[code]
which is taken (except of PREFIX) from the 'official' installation script of openblas `quickbuild.win32`

and only then openblas was built successfully

[2017-02-11 15:48] Chunosov commented on #62
Please, note that it should be `Visual Studio 14 2015 Win64` for 64-bit OS

[2017-02-13 06:21] Chunosov opened #65 "There is no way to install imagenet in Windows"
[code]

[2017-02-13 06:48] Chunosov opened #66 "misused "dynamic_lib" and "static_lib" in meta.json of hdf5 package on Windows"
In local env of hdf5 package on Windows keys "dynamic_lib" and "static_lib" are misused
[code]
obviously *.lib is static, not dynamic, and vice versa.

[2017-02-13 07:53] Chunosov commented on #66
It seems that 'lib' prefix here is redundant too. Files are called _hdf5.lib_ and _hdf5.dll_

[2017-02-16 05:13] DVEfremov commented on #61
done

[2017-02-16 05:13] #61 closed, assigned to nobody

[2017-02-16 05:14] DVEfremov commented on #58
done

[2017-02-16 05:14] #58 closed, assigned to nobody

[2017-02-16 05:14] DVEfremov commented on #56
Looks like it works now for ubuntu
lib-caffe-bvlc-master-cuda-universal
and
lib-caffe-bvlc-master-cudnn-universal

[2017-02-16 05:18] DVEfremov commented on #56
I have no windows with cuda support so I cant check it for windows.
Need help here.

[2017-02-16 05:44] DVEfremov commented on #22
It works fine now and and merged to official branch.

[2017-02-16 05:44] #22 closed, assigned to DVEfremov

[2017-02-16 06:03] DVEfremov commented on #26
I've tested many time
and looks like it works now
so I'm closing.

[2017-02-16 06:03] #26 closed, assigned to nobody

[2017-02-16 06:21] DVEfremov commented on #9
I've checked once again for ubuntu and classification.bin size is 75K
[code]

[2017-02-16 06:22] DVEfremov commented on #9
And the same for classification binary
[code]

[2017-02-16 06:24] DVEfremov commented on #9
Ha now I see

/ck-crowd-scenarios/experiment.scenario.mobile/bvlc-caffenet-android-recognize-image/code/205a3542231ac3c1/armeabi-v7a/classification

is ~5M
is that file you mentioned above ?
[code]

[2017-02-16 09:29] gfursin commented on #9
Yes, that's right. classification from caffe is small, but the one that we generate is very large. We probably link some lib statically which is not strictly necessary, etc. To figure it out, we should turn on verbose mode when compiling caffe to see how it compiles/links classification and then check what happens when Caffe compiles and links program:caffe-classification  ...

[2017-02-17 15:40] psyhtest commented on #7
NVIDIA's fork doesn't seem to be under heavy development. Besides, it's performance is close to that of the mainline. Therefore, supporting this package is of limited interest.

[2017-02-17 15:40] #7 closed, assigned to nobody

[2017-02-17 15:44] psyhtest commented on #37
What does 'multi GPU support'? According to [this comment](https://github.com/naibaf7/caffe/issues/61#issuecomment-280616546), multiple GPU is not available on the OpenCL branch anyway. But I don't know what NCCL is.

[2017-02-21 15:19] psyhtest commented on #44
OK, I'm ready to make some experiments on the Odroid XU3. I only have one Caffe lib, one Caffe model and one dividiti's OpenCL profiler registered on the platform:
[code]

This allows to quickly run `program:caffe` without being presented with multiple choices for any of these.

[2017-02-21 16:36] psyhtest commented on #44
For benchmarking the original ViennaCL caching mechanism I use:
[code]
The resulting archive can be copied to another machine and extracted for analysis as follows:
[code]

[2017-02-23 18:24] psyhtest commented on #44
Will next make some modifications to ViennaCL, and reinstall using:
[code]

[2017-02-24 00:04] psyhtest commented on #44
If storing to cache after all the kernels are created:
[code]

[2017-02-26 23:14] psyhtest commented on #44
Submitted a [PR](https://github.com/viennacl/viennacl-dev/pull/225) to ViennaCL to move binary caching after kernel compilation, which has a dramatic effect on Mali powered platforms on subsequent invocations.

[2017-02-27 14:03] gfursin commented on #55
I agree - I updated meta of CUDNN packages. Do you mind to check it and close this ticket, please, if works? Thanks!

[2017-02-27 16:31] psyhtest commented on #55
Yes, thank you!

[2017-02-27 16:31] #55 closed, assigned to nobody

[2017-02-27 23:13] gfursin commented on #57
I believe I fixed that ... Can you please try again with a clean environment ...

[2017-02-28 14:13] psyhtest commented on #44
The above mentioned [PR](https://github.com/viennacl/viennacl-dev/pull/225) has been merged to the ViennaCL master, so all ViennaCL packages (except 1.7.1 of course) should now have the improved caching mechanism.

Don't forget that you need to set the environment variable (e.g. `VIENNACL_CACHE_PATH=/tmp/viennacl-cache/') for caching to work!

[2017-02-28 14:13] #44 closed, assigned to psyhtest, DVEfremov

[2017-03-01 11:16] psyhtest commented on #57
Now `package:lib-caffe-nvidia-fp16-cuda` works but `package:lib-caffe-nvidia-fp16-cudnn` still fails.

[code]

I also tried removing `protobuf-host v3.1.0` (which worked for for the CUDA package), and select it again during installation:
[code]

The same was with `protobuf-host v3.0.0` ...

[2017-03-01 14:28] gfursin commented on #57
It's not related to protobuf but to gflags - looks like this branch is a bit outdated and has some conflicts with new glog/gflags ... I am trying to check if it will work with native one ...

[2017-03-01 15:49] gfursin commented on #57
I think I fixed that - I just removed key to force using gflags package, so the one that is installed in the system can be detected and used with this package. If you already installed gflags, you can just re-detect native version just for this package (seems like other packages are working fine, so I think it's the problem with this branch which doesn't support newest versions of gflags), i.e.:
$

[2017-03-02 09:40] gfursin commented on #56
I believe I fixed all that. I close this ticket and we will open a new one if there are issues ...
Thanks!

[2017-03-02 09:40] #56 closed, assigned to psyhtest, gfursin, DVEfremov

[2017-03-02 18:37] mrgloom opened #73 "Some other benchmarks"
Here is some other benchmarks:

CNN
https://github.com/soumith/convnet-benchmarks
https://github.com/jcjohnson/cnn-benchmarks
https://github.com/ducha-aiki/caffenet-benchmark
https://github.com/baidu-research/DeepBench

RNN
https://github.com/glample/rnn-benchmarks

[2017-03-03 14:38] gfursin commented on #73
Thanks @mrgloom .
Right now we focus on stabilizing our universal engine to be able to build DNN frameworks such as Caffe in different flavours (CPU,CUDA,OpenCL) across Linux, Windows and Android together with various sub-packages (BLAS) in a unified and reproducible way. Another focus is to provide customizable experimentation framework to be able to run and time various tests (such as object cla

[2017-03-03 14:40] gfursin commented on #53
Scenarios are now added, so we need to slightly fix the Android app now. I close this ticket.

[2017-03-03 14:40] #53 closed, assigned to nobody

[2017-03-03 14:47] gfursin commented on #15
I think this ticket is outdated (we do not need it at this stage), so I close it.

[2017-03-03 14:47] #15 closed, assigned to DVEfremov

[2017-03-03 14:50] gfursin commented on #37
Is this ticket still valid after all latest updates?

[2017-03-05 11:03] gfursin commented on #31
@DVEfremov - after checking latest OpenCL-based Caffe lib and classification across different platforms (some seg faults at the end), do you mind to finish unifying LMDB across Linux, Windows, Android, please? LMDB is really needed for users so this will help us finalize our current Caffe unification... Thanks a lot!

[2017-03-06 05:14] dsavenko commented on #29
Actually, CK/local/env is not very convenient right now, as the subdirs are named after UIDs, and it's hard to find the one you need without resolving UIDs via ck or grep'ing. So, I'd like the 'tmp' dirs approach more. At least, until something is done to local/env to make it 'human-browseable'.

[2017-03-06 06:22] DVEfremov opened #74 "Latest version Caffe with caffe-classification-opencl: seg fault at the end"
Steps to reproduce
* under linux
* ck compile program:caffe-classification-opencl

* ck compile program:caffe-classification-opencl

it produces correct classification output, but have a seg fault at the end...

This week we should try to check that OpenCL Caffe works across different platforms ...

[2017-03-06 06:26] DVEfremov opened #75 "caffe-time doesn't compile now for Android"
for Android, we now use official OpenCL branch of Caffe, but this means that we had to slightly change caffe-classification to init network differently on Android or Linux/Windows. See there:
/* Load the network. */
#ifdef CK_TARGET_OS_NAME2_ANDROID
 /* This is needed since we now use official OpenCL branch where our Android changes were added */
 net_.reset(new Net<float>(model_file, TEST, NULL))

[2017-03-06 07:50] gfursin commented on #29
Wait - CK/local/env is the registration of software versions and has nothing to do with 'tmp'! We use UID there on purpose because there is no other way - it's otherwise extremely difficult to find a nice schema for naming which would keep all dependencies with versions and host/targets (we already have this issue with CK_TOOLS and I even added an option to actually build tools inside env). Beside

[2017-03-06 16:24] psyhtest opened #76 "caffe-classification-opencl mispredicts and segfaults on 32-bit Android"
When running on the T-Firefly board (Android 5.1.1, 32-bit, Mali-T760 w/ driver v6.0):
[code]
 I observe different behaviour of the `caffe-classification-opencl` program:
[code]
- SqueezeNet 1.1:
[code]
(the prediction is wrong; moreover, similar mispredictions are produced for other images)

- SqueezeNet 1.0:
[code]
(the prediction is correct despite the segfault)

- AlexNet:
[code]

- GoogleNet:

[2017-03-06 16:54] psyhtest commented on #76
When setting `--target_os=android21-arm-v7a-hard-neon`, things are worse, which suggests we shouldn't use this setting for this board:
[code]

- SqueezeNet 1.1:
[code]

- SqueezeNet 1.0:
[code]

- AlexNet:
[code]

- GoogleNet:
[code]

[2017-03-06 21:32] gfursin commented on #62
Hmm, it should have been detected automatically by soft:compiler.microsoft, unless something wrong have happened. I slightly improved it and added text to open an issue with some debug info if such case again happens:
    if env.get('CK_CMAKE_GENERATOR','')=='':
       ck.out('**********************************')
       ck.out('Problem: can\'t detect Visual Studio compiler version from ('+str(sver

[2017-03-06 21:32] #62 closed, assigned to nobody

[2017-03-06 21:32] gfursin commented on #57
Hi Anton, just curious if it works now?

[2017-03-06 21:34] gfursin commented on #35
I currently check size of the program before copying to device (to avoid copying huge files like AlexNet to the device over and over again), however we should probably add check for the date/time of the latest update.

[2017-03-06 21:56] gfursin commented on #63
I am trying to minimize dependencies. I fixed the problem with sleep, and as for the second part, I use mingw32-make.exe from MingW GCC so normally it should not require MSYS (I think perl is not strictly necessary). But we will test it soon on a Windows 10 Surface Pro which we should get soon...

[2017-03-06 22:04] gfursin commented on #66
Thanks, I fixed dynamic vs static lib. As for libhdf5 - actually both are generated on my system, so I automatically detect first libhdf5.lib and then hdf5.lib ...

[2017-03-06 22:04] #66 closed, assigned to nobody

[2017-03-06 22:52] gfursin commented on #65
Fixed! Thanks!

[2017-03-06 22:52] #65 closed, assigned to nobody

[2017-03-06 23:41] psyhtest commented on #76
It's ironic but on the Galaxy A6 tablet:
[code]
I get the opposite failures with `--target_os=android21-arm-v7a`:
- SqueezeNet 1.1
[code]
- SqueezeNet 1.0, AlexNet, GoogleNet:
[code]

[2017-03-06 23:56] psyhtest commented on #57
Sadly, no. CK detected `gflags` via `ck detect soft:lib.gflags`, which I then specified during the installation of `package:lib-caffe-nvidia-fp16-cudnn`. The problem again seems to be with linking protobuf:

[code]

[2017-03-07 00:44] DVEfremov opened #77 "Add ViennaCL cache support"

[2017-03-07 00:44] #77 closed, assigned to nobody

[2017-03-07 06:11] DVEfremov commented on #76
I've reproduced at my Galaxy Note 4 but with a little bit another error :
[code]

[2017-03-07 06:22] psyhtest commented on #76
That's a different issue. Remember it's a Mali device - you need to build with `DISABLE_DEVICE_HOST_UNIFIED_MEMORY=ON` e.g.
[code]

[2017-03-07 06:58] DVEfremov commented on #74
duplicate of #76

[2017-03-07 06:58] #74 closed, assigned to nobody

[2017-03-07 06:59] DVEfremov commented on #75
Now it compiles and work fine for andoid and linux

[2017-03-07 06:59] #75 closed, assigned to psyhtest, gfursin, DVEfremov

[2017-03-07 09:13] gfursin commented on #57
But did you make a clean installation? Just try to remove at least all protobuf:
$ ck rm env:* --tags=protobuf
$ ck rm env:* --tags=protobuf-host
And then try again - I made a support to pick up native version of protobuf rather than installing it - I think this is the problem ...

[2017-03-07 13:27] psyhtest commented on #57
But you said it was a problem with gflags? So I only removed that... Let me try again.

[2017-03-07 13:35] gfursin commented on #57
It looks like a different error - I did a clean install (removed all env and CK_TOOLS) and it seemed to work ... BTW, this problem is not related to CK but to the mess with gflags/protobuf in Caffe - we should normally fix versions from all software to avoid such problems ...

[2017-03-07 15:20] psyhtest commented on #57
Success at last!

First, I had to clear all the environments as you suggested:
[code]
then, detect the libs installed on the platform:
[code]
(`lib.protobuf.host` was critical here!)
and, finally, install:
[code]

[2017-03-07 15:20] #57 closed, assigned to nobody

[2017-03-09 05:01] DVEfremov commented on #76
ok, thanks
for my 32 bit Galaxy Note 4
after correct package installation I've got
same prediction for any image
using SqueezeNet 1.1
[code]
without any segmentation fault.

And the same for android app using scenario
Caffe OpenCL SqueezeNet 1.1

[2017-03-09 05:03] DVEfremov commented on #76
For 64 Dima's Xiaomi I've got another error:
[code]

[2017-03-09 06:22] dsavenko commented on #76
It's Meizu actually (m3 note). Stop calling it Xiaomi! :)

[2017-03-09 08:06] gfursin commented on #76
BTW, we also position our Android app now as an engine to crowdsource OpenCL bug detection in DNN ;) !

[2017-03-09 11:30] psyhtest commented on #76
I also see linking warnings (see above) - they seem harmless...

BTW, @DVEfremov, when I use different images, I get slightly different results (if I look at the probabilities, not the labels). Is it the same for you?

I'm beginning to think this issue may be related to: https://github.com/naibaf7/caffe/issues/60

[2017-03-13 11:08] dsavenko opened #83 "Remove DNN proxies once the demo app redesign is merged"
Hi,

We will need to remove DNN proxies once https://github.com/dividiti/crowdsource-video-experiments-on-desktop/pull/24 is merged. The proxies are actually a hack for old demo app to work, and we should strive for not having dead code in repos.

[2017-03-14 19:24] gfursin commented on #83
Done! Moved to ck-old-packages repo (the DLL usage can still be useful one day) ...

[2017-03-14 19:24] #83 closed, assigned to nobody

[2017-03-15 04:50] dsavenko commented on #83
Typically, Git tags are used to mark outdated content - this way, you can always bring it back. But, I guess, moving into a separate repo works as well.

[2017-03-15 06:53] gfursin commented on #83
Well, it's not exactly the same - packages is a high level CK functionality and want to still have them in a working state somewhere, rather then do something with Git. I.e. I can just pull that repo and immediately use these packages ...

[2017-03-16 22:45] gfursin commented on #64
I did various fixes (added Unix Utils detection from installed Git + Perl dependency) and it seems to be compiling fine on a new and clean machine (Surface Pro 4 with Win 10) ... I close this ticket. Thanks for reporting!

[2017-03-16 22:45] #64 closed, assigned to psyhtest, gfursin, DVEfremov, Chunosov

[2017-03-16 22:46] gfursin commented on #63
I believe I fixed that. I added detection of Unix Utils on Windows and in fact they are available in the Git installation (if selecting option of Unix utils), or they will be also detected if downloaded and unzipped manually to a user space ... I close this ticket ...

[2017-03-16 22:46] #63 closed, assigned to psyhtest, gfursin, DVEfremov, Chunosov

[2017-03-16 22:49] gfursin commented on #52
We decided not to use this method for now but use caffe-classification binaries directly. However, we are not removing this method completely but archived it because it can be very useful for realistic applications. But for trying different libs (caffe-cpu,caffe-opencl,caffe-cuda), it requires lots of API gluing ... But thanks a lot for the first version - it was very useful! I close this ticket!

[2017-03-16 22:49] #52 closed, assigned to nobody

[2017-04-03 23:06] psyhtest opened #85 "Add support for SSD"
SSD is a Single Shot MultiBox Detector ([paper](http://arxiv.org/abs/1512.02325), [slides](http://www.cs.unc.edu/~wliu/papers/ssd_eccv2016_slide.pdf)).

Add CK-Caffe support for:
- the [SSD](https://github.com/weiliu89/caffe/tree/ssd) fork of Caffe;
- the [COCO](http://mscoco.org/) dataset;
- the [VOC](http://host.robots.ox.ac.uk/pascal/VOC) dataset:
  - VOC2007 - [trainval](http://host.robots.ox.

[2017-04-04 08:06] DVEfremov commented on #76
I've tested at Galaxy note different images fro same OpeCL SqueezeNet 1.1
but get exactly the same result

[2017-04-04 08:09] DVEfremov commented on #46
fixed, commits merged to master

[2017-04-04 08:09] #46 closed, assigned to nobody

[2017-04-04 08:21] DVEfremov commented on #37
yes this issue is not actual because of
https://github.com/naibaf7/caffe/issues/61

so closing

[2017-04-04 08:21] #37 closed, assigned to nobody

[2017-04-04 21:45] psyhtest opened #86 "Add support for VGG"
The [Visual Geometry Group](http://www.robots.ox.ac.uk/~vgg/research/very_deep/) at the University of Oxford designed several [highly accurate DNNs](https://arxiv.org/abs/1409.1556).

Add CK-Caffe support for:
- the VGG16 model ([weights](http://www.robots.ox.ac.uk/~vgg/software/very_deep/caffe/VGG_ILSVRC_16_layers.caffemodel), [topology](https://gist.githubusercontent.com/ksimonyan/211839e770f7b5

[2017-04-04 21:59] psyhtest opened #87 "Add support for ResNet"
Microsoft Research Asia designed several [Deep Residual Networks](https://github.com/KaimingHe/deep-residual-networks).

Add CK-Caffe support for:
- the ResNet50 model ([weights](https://deepdetect.com/models/resnet/ResNet-50-model.caffemodel), [topology](https://github.com/KaimingHe/deep-residual-networks/blob/master/prototxt/ResNet-50-deploy.prototxt))
- the ResNet101 model ([weights](https://de

[2017-04-04 22:02] psyhtest commented on #76
So this issue is still a mystery...

[2017-04-05 06:10] Rhymmor commented on #87
Did I understand correctly that ResNet_mean.binaryproto should be used in caffe classification programs instead of imagenet_mean.binaryproto which is hardcoded into these programs (for default mode) right now?

[2017-04-05 09:46] DVEfremov commented on #8
Most predicted result is not clickable now
so it not actual
so closing.

[2017-04-05 09:46] #8 closed, assigned to nobody

[2017-04-05 12:56] DVEfremov commented on #31
ok sure

[2017-04-05 15:29] psyhtest commented on #86
@Rhymmor Many thanks for the contribution! Please include the licensing terms next time :))

[2017-04-05 15:35] psyhtest commented on #86
Just for reference (not expecting to do anything at this point), both VGG models fail on the laptop M1000M GPU with:
[code]
when using the `package:lib-caffe-nvidia-fp16-cudnn` variant. (`package:lib-caffe-nvidia-fp16-cuda` works just fine.)

[2017-04-05 15:36] psyhtest commented on #86
In fact, I see the same failure with GoogleNet... Will try other targets...

[2017-04-05 15:41] psyhtest commented on #87
That's right. Instead of three copies of `ResNet_mean.binaryproto`, we should ideally  just create a separate package and set up the three ResNet ones to depend on it.

[2017-04-05 15:57] psyhtest commented on #87
@Rhymmor, thanks for your contribution!

While you are at it :), could you please also add ResNet10 ([weights](https://github.com/cvjena/cnn-models/blob/master/ResNet_preact/ResNet10_cvgj/model_download_link.txt), all [topologies](https://github.com/cvjena/cnn-models/tree/master/ResNet_preact/ResNet10_cvgj)), which [doesn't require subtracting the mean](https://github.com/cvjena/cnn-models/blob/ma

[2017-04-06 04:56] Rhymmor commented on #87
@psyhtest, sure!

Hmm, I've tried it in ck and it gives the same poor prediction for any image.

[code]

[2017-04-06 11:44] psyhtest commented on #87
@Rhymmor Which program are you using? I've tried `program:caffe-classification` with `resnet50` and got as a sensible result:
[code]

[2017-04-06 11:56] Rhymmor commented on #87
@psyhtest, sorry, my comment wasn't clear. I've implemented and tried resnet10 in ck and get that results. BTW, resnet10 model size is 21 mb, is it normal?

[2017-04-07 19:47] psyhtest commented on #87
@Rhymmor Are you surprised it's only 21 MB, not 240 MB like AlexNet? :) Well, that's the whole point - it's a more compact more with good accuracy. (Although not as compact as SqueezeNet which is under 5 MB.)

The results are very strange though. Something's not right. I see that the default command of e.g. `program:caffe-classification-cuda` is:
[code]
The use of `$#up_dir#$imagenet_mean.binarypr

[2017-04-07 19:48] psyhtest commented on #87
Unfortunately, the direct link no longer works:
[code]
And it's not possible to `wget` from Google Drive or Baidu Pan :(. I will close this ticket for now, as we have other priorities.

[2017-04-07 20:05] #87 closed, assigned to Rhymmor

[2017-04-07 20:07] psyhtest commented on #54
@DVEfremov Could you please check this again?

[2017-04-07 21:39] psyhtest opened #90 "Remove duplicate files"
The CK-Caffe repository contains several duplicate files:
[code]
These should be moved into separate entries, with dependencies set up on them.

[2017-04-08 17:13] DVEfremov commented on #54
yes sure in progress ...

[2017-04-10 06:41] DVEfremov commented on #54
Done at PR #91
Checked with:
[code]

[code]

[2017-04-10 06:41] #54 closed, assigned to DVEfremov

[2017-04-10 06:45] DVEfremov commented on #54
yes already caffe-time-cuda contains required param hadling

[2017-04-11 12:21] psyhtest commented on #3
Since @mrgloom's request (issue #73) is a superset of @ducha-aiki's request (issue #3), I'm closing the latter for now.

[2017-04-11 12:22] #3 closed, assigned to nobody

[2017-04-11 12:51] psyhtest commented on #90
This should also solve the current problem e.g. with `program:caffe-classification-cuda`:
[code]
where the commands 0 and 2 refer to the `up_dir` which is not correct for the [ResNet](https://github.com/dividiti/ck-caffe/issues/89)'s...

[2017-04-11 13:35] mrgloom opened #93 "Prebuild Caffe distribution?"
Are you planing to supply prebuild Caffe distribution?

For Linux it can be something like `sudo apt-get install <some-benchmark-package>`

For windows just `.zip` archive with statically linked `.exe`.

Also what about branch/commit of Caffe? is it fixed?
It will be great to test Caffe speed on some benchmark after each commit, as I understand they are using [Travis](https://travis-ci.org/BVLC/ca

[2017-04-11 13:50] mrgloom opened #94 "Simple workflow for forward pass measure?"
Do you have forward pass benchmark of different CNN architectures? it's not very clear from documentation.

I just want to measure forward pass time, something like [here](https://github.com/mrgloom/kaggle-dogs-vs-cats-solution), but table should contain different GPU models.

Also do you have results for PC GPU's? [Here](http://cknowledge.org/repo/web.php?action=index&module_uoa=wfe&native_action

[2017-04-11 16:01] gfursin commented on #94
Hi!

We are actually working on that. We plan to provide new crowd-benchmarking capability for PC GPUs before May. In fact, we already have some stats in the same repository (cKnowledge.org/repo) under different crowd-scenario "crowd-benchmark Caffe library" but it's quite outdated (we have been recently focusing on embedded devices). We plan to update it before May.

As for forward pass benchmark

[2017-04-12 04:23] dsavenko commented on #93
Hi!

I don't know the plans, but it's just a huge work to supply a prebuild distrib, because it should be done for so many architectures and environments. But this would be nice to have it, for sure.

As for branches, there are a number of packages here for some branches/build setups like CPU, CUDA, OpenCL. Please, take a look here: https://github.com/dividiti/ck-caffe/tree/master/package . Direct

[2017-04-12 08:05] mrgloom commented on #93
As I understand it's some type of build configurations? What build system are you using?

[2017-04-12 08:37] dsavenko commented on #93
`master` and `opencl` in directory names are branches. `cpu`, `cuda`, etc denote build flags (so, `master-cuda` means 'build the master branch with CUDA support').

Caffe provides CMake project for building, so we use CMake.

[2017-04-12 08:39] gfursin commented on #93
We use Collective Knowledge build system which can build CK packages for Linux, Windows, MacOS and Android targets:
* https://github.com/ctuning/ck/wiki/Portable-workflows
* https://github.com/ctuning/ck-env

We use this build system because a) it has JSON API, b) it's natively integrated with our experiment workflow framework c) it lets multiple versions of the same software co-exist on the same

[2017-04-12 12:24] psyhtest commented on #93
The CK package manager is actually a viable alternative to distributing prebuilt binaries (and many complications that come with that). On a fast machine, it takes less than 5 minutes from scratch to rebuild Caffe with all of its dependencies (e.g. compilers, compute libraries) resolved for this particular machine.

The performance of Caffe does not depend so much on its own code but on the librar

[2017-04-12 12:50] psyhtest commented on #94
@mrgloom A very nice table! With CK-Caffe and Jupyter, it would be easy to obtain results for your table on another machine, as well as display results from several machines. If you [volunteer](https://github.com/dividiti/ck-caffe/issues/93#issuecomment-293560088) :), I can help you convert your repository into the CK format.

[2017-04-12 15:33] DVEfremov commented on #31
I've applied unification for lib-lmdb-trunk-android
but for android (as it comes from package name)
at PR
https://github.com/ctuning/ck-autotuning/pull/22

@gfursin
next step
I  should rename this package lib-lmdb-trunk and check it for linux/windows as well
am I right?

[2017-04-12 16:12] mrgloom commented on #93
I think I'm interested in participation.

You have some large scope and I'm only interested in these directions:
1.  PC GPU benchmark (preferably on Ubuntu 14.04) it can be adoptation of my small benchmark
No data needed for forward\backward pass time measuring only deploy.txt, and caffe already have this functionality via [caffe time](https://github.com/mrgloom/kaggle-dogs-vs-cats-solution/blob/m

[2017-04-13 04:52] DVEfremov commented on #9
tried to change flags like

with static linking (looke like ) but still getting same size for
[code]

finally compilation script is:
[code]

so as I cans see last static linked libgnustl_static.a is quite big:
[code]

[2017-04-13 07:13] psyhtest commented on #9
Strange, the static library is 11MB but the executable is 4MB? I think we are also dealing with this library in ck-math:program:clblast-tune...

[2017-04-13 07:21] gfursin commented on #9
I have a feeling that it's some standard lib which is statically linked and which is not necessary ...

[2017-04-13 07:25] gfursin commented on #9
Sorry - missed above notes ;) ... What can be done, is to check classification and libcaffe when built natively by Caffe (somewhere inside CK_TOOLS) and the one which we build ourselves ... And check which libs were statically linked. I think it will be possible to figure out which one is not needed ...

[2017-04-13 13:03] mrgloom commented on #94
Seems you aready have forward pass measure functionality via `caffe-time`
https://github.com/dividiti/ck-caffe/wiki/Installation#linux

So how to add other `deploy.protoxt` network architectures to benchmark?

[2017-04-14 04:47] DVEfremov commented on #31
Unified build process for windows but get error on compilation
![image](https://cloud.githubusercontent.com/assets/22045452/25033454/01ea4ef4-2108-11e7-8c00-569b1826705d.png)

[2017-04-14 06:08] DVEfremov commented on #85
Do we need this package for linux only or for windows as well ?

[2017-04-14 16:47] gfursin commented on #31
am I right?
Yes, that's right! Thanks!

[2017-04-14 17:00] psyhtest opened #96 "Update Android patch #2"
Android patch #2 (`package/lib-caffe-bvlc-opencl-clblast-universal/patch.android/android.fgg.patch2`) to  `CMakeLists.txt` is currently 69 lines off (and may break):
[code]

[2017-04-14 17:00] DVEfremov commented on #31
ok, almost done
I'm in progress with compilation errors under windows

[2017-04-14 17:18] psyhtest commented on #94
@mrgloom

That's right. To start with, you can simply run:
[code]

[2017-04-14 17:27] psyhtest commented on #94
@mrgloom

It's rather straightforward. We've added quite a few model descriptions recently e.g. [JacintoNet11](https://github.com/dividiti/ck-caffe/commit/a42ec8d6b9b463289306b4bbb8c0280f3c26ebff), [VGG16](https://github.com/dividiti/ck-caffe/commit/9735747a78e71eb4e88c883094872dbed565b3e1), [VGG19](https://github.com/dividiti/ck-caffe/commit/50b65ac4e41f451d36d9d6aa60770297103186c3), [ResNet50](h

[2017-04-14 17:46] psyhtest commented on #94
So while this is easy, the more difficult question to answer is why CNNs for solving the [Kaggle cats and dogs challenge](https://github.com/mrgloom/kaggle-dogs-vs-cats-solution) would make a good PC benchmark? Is this workload relevant for PC users?

[2017-04-14 18:08] psyhtest opened #97 ""ck compile program:caffe-time-opencl" fails"
[code]

[2017-04-14 18:11] psyhtest commented on #97
Apparently, `std::is_same` is a [C++11 feature](https://askubuntu.com/questions/642545/error-is-same-is-not-a-member-of-std-when-build-c-project-in-ubuntu), therefore the fix was simple:
[code]

[2017-04-14 18:18] psyhtest opened #98 ""ck compile program:caffe-time-cuda" fails"
[code]

This is with:
[code]

[2017-04-14 18:34] psyhtest commented on #97
Building for Android, however, still fails due to a linking issue :
[code]

[2017-04-14 18:38] psyhtest commented on #98
[caffe::P2PSync](http://caffe.berkeleyvision.org/doxygen/classcaffe_1_1P2PSync.html) has been [removed](https://github.com/BVLC/caffe/commit/3ba20549b7f49a76cd023d19f781a6891b2c2122)...

[2017-04-14 18:58] psyhtest commented on #98
This is not terribly important as we can always use the `time_gpu` command of `program:caffe`...

[2017-04-15 03:12] DVEfremov commented on #98
Yes looks like caffe::P2PSync has been remove because it not stable
at least it was not stable for opencl version as it was metiononed at some BVLC/caffe/issues

[2017-04-15 09:19] gfursin commented on #96
I believe I fixed that now.

[2017-04-15 09:19] #96 closed, assigned to gfursin

[2017-04-17 10:47] dsavenko commented on #85
As discussed elsewhere, we need it to be cross-platform if possible.

[2017-04-18 07:02] kindloaf opened #99 "classification segmentation fault when calling Caffe::SetDevices"
I'm testing Caffe with OpenCL on an android device. When I run the program classification, there was a segmentation fault.
Here is how I compiled and ran the program:
[code]

Here is the information of the segmentation fault:
[code]

Any advice?

[2017-04-18 07:47] DVEfremov commented on #99
Have you tried to run it under valgrind ?

[2017-04-18 07:50] gfursin commented on #99
By the way, what is the device?

[2017-04-18 07:51] gfursin commented on #99
And Android NDK version?

[2017-04-18 07:51] DVEfremov commented on #99
I use valgrind compiled for my device (ARV-v7a) as described here
http://valgrind.org/docs/manual/dist.readme-android.html

[2017-04-18 07:53] gfursin commented on #99
I will try to rebuild/run clean ck-caffe version soon on my Samsung S7 ...

[2017-04-18 08:18] kindloaf commented on #99
@DVEfremov I have not tried valgrind. I will update this thread after I use valgrind.

[2017-04-18 08:35] kindloaf commented on #99
@gfursin
The NDK version is r14b.
By the way, the libOpenCL.so is provided by the device. By calling clGetPlatformInfo function with CL_PLATFORM_VERSION, it seems that the .so file was compiled with OpenCL 1.2.
From the log of ck-caffe, I assume the version is consistent:
[code]

[2017-04-18 08:37] kindloaf commented on #99
@gfursin
By the way, in the thread of https://github.com/sh1r0/caffe-android-lib/issues/23
For the command line to compile / run the program, did you mean `program:caffe-classification-opencl` instead of `program:caffe-classification`?

[2017-04-18 08:53] kindloaf commented on #99
I just found the issue: there was a file `/data/local/tmp/viennacl_cache_0f45121d68e15d6052d1a913db3647b1fc0fc609` generated after running classification. When I removed the file, the segmentation fault is gone.
If the file is there, the program would crash.

Not sure what's the real culprit, but it solved my problem now.

Thanks for quick reply - I will close the issue.

[2017-04-18 09:04] gfursin commented on #99
This file is related to OpenCL kernel caching via ViannaCL. After deleting this file and running classification again, do you see a newly generated viennacl_cache_{some hash} file?
If you run classification several times now, does it still work?
I am asking because it looks like kernels have changed but were not recompiled on your system. I put @psyhtest in the CC since he was trying to improve Vi

[2017-04-18 09:05] gfursin commented on #99
Also, we may need to add an option in the CK to clear such cache files (or maybe remove them automatically during ck-caffe reinstallation for Android) - I need to think about that ...

[2017-04-18 12:46] mrgloom commented on #94
I don't want to focus on Kaggle cats vs dogs challenge, but on forward/backward pass measure of CNN models that I have used in this challenge.

I will try to run `program:caffe-time` and add my own models using existing models as example.

[2017-04-18 12:47] #93 closed, assigned to nobody

[2017-04-18 12:52] mrgloom commented on #73
Just another benchmark from some Belarusian group of researchers (more focused on framework comparision, FCNN  networks, also including distributed setting):
https://github.com/gakarak/DeepLearning_Frameworks_Benchmark

[2017-04-18 13:33] kindloaf commented on #99
@gfursin and @psyhtest  What I did was the following:
(1) Used `ck run program:caffe-classification-opencl --target_os=android21-arm64` to run the test program. For the very first time after compilation, the run was successful.
(2) When I invoked `ck run` again, or used `adb shell ...` to launch the test program, it segmented faulted.
(3) Then I removed cache file, and used `adb shell...` to launc

[2017-04-18 13:43] gfursin commented on #99
Thanks a lot for reporting - that's quite strange though. I will test it tonight on my S7.
By the way,  if you by chance will have some time, you may try to run this app:
https://play.google.com/store/apps/details?id=openscience.crowdsource.video.experiments
There, you can select Caffe OpenCL and try to run it several times for example using GoogleNet - I am curious if you will have the same issue

[2017-04-18 14:06] kindloaf commented on #99
I will give it a try.

[2017-04-18 14:06] #99 closed, assigned to dsavenko, psyhtest, gfursin, DVEfremov

[2017-04-18 14:54] kindloaf opened #100 "Segmentation fault when using "caffe time""
Hi,
I'm trying to run `caffe time` on an android device. I used the following command:
[code]

Here is the call stack, although the real error could have happened in a different place:
[code]

Any advice?

[2017-04-18 14:57] gfursin commented on #94
Note, that very recently I added a simpler way to download and install various packages in the CK across different platforms, so we are gradually moving current packages in Caffe/TF to this format (to be able to universally install them for Linux, Windows and Android). You can find example for this LLVM 4.0.0 universal package here:
https://github.com/ctuning/ck-env/tree/master/package/compiler-ll

[2017-04-18 15:02] gfursin commented on #100
Does it work if you try to compile and run caffe time via CK?

I.e.
$ ck compile program:caffe-time --target_os=android21-arm64
$ ck run program:caffe-time --target_os=android21-arm64

[2017-04-18 15:14] kindloaf commented on #100
It worked! Thanks a lot.

[2017-04-18 15:14] #100 closed, assigned to nobody

[2017-04-18 15:15] kindloaf commented on #100
By the way, the command I used was against "program:caffe-time-opencl".

[2017-04-18 15:17] gfursin commented on #100
Sure, we had to separate CPU/OpenCL/CUDA versions due to linking of different libraries (it was just simpler at this stage since Caffe has different branches for OpenCL and non-OpenCL versions) ...

[2017-04-19 09:05] gfursin commented on #31
Any progress? Thanks!

[2017-04-19 10:26] kindloaf opened #101 "Caffe over OpenCL with clBLAS / CLBlast / ViennaCL"
Hi,
It seems that there are 3 ways to use Caffe over OpenCL:
(1) clBLAS
(2) CLBlast
(3) ViennaCL
Is this correct? If yes, how can I be sure which one I was using when compiling and running the benchmarks? For example, is the configuration logged in the log file, or displayed in the ck environment?

[2017-04-19 11:10] psyhtest commented on #101
@kindloaf

First, you need to find out which Caffe variant you installed. For example, on my machine I have only one variant built for `android21-arm64`:
[code]
In fact, the line for `d013a448284fc10f` already suggests that this variant was built with CLBlast (`BVLC Caffe framework (opencl,clblast)`) but you can verify this by looking up in its environment entry:
[code]
Moreover, you could have ha

[2017-04-19 12:27] kindloaf commented on #101
Thanks for the help.

[2017-04-19 12:27] #101 closed, assigned to nobody

[2017-04-19 12:57] gfursin commented on #101
BTW, also feel free to ask questions at the CK mailing list:
* https://groups.google.com/forum/#!forum/collective-knowledge
We have more users there who may help or will be interested to know such things too ;) ...

[2017-04-19 13:22] mlosab3 opened #102 "Do you plan to add caffe2 to your framework?"
See https://github.com/caffe2/caffe2/issues/285 & https://github.com/caffe2/caffe2/issues/292

[2017-04-19 13:28] gfursin commented on #102
I just saw the announcement so we did not think about it yet ;) ... However looking at the caffe2 description, it should not be very difficult to add it using current CK packages as example:
* https://github.com/dividiti/ck-caffe/tree/master/package
* https://github.com/dividiti/ck-caffe/blob/master/package/lib-caffe-bvlc-master-cpu-universal/.cm/meta.json

While we don't quite have time to do it

[2017-04-26 21:29] gfursin commented on #31
I unified all packages including LMDB (i just compile 2 files directly using Visual Studio instead of using Linux make) ... I close this ticket.

[2017-04-26 21:29] #31 closed, assigned to dsavenko, psyhtest, gfursin, DVEfremov

[2017-04-27 15:04] gfursin commented on #98
Actually, it is important since I use it for crowd-benchmarking, but it seems like the latest versions work fine?

[2017-05-02 13:06] fvella commented on #97
Hi,
I fixed the problem putting the flag "-shared" on meta.json.  Anyway, I am not using CK variables and the flag is  hard-coded in the meta json file.

[2017-05-02 15:28] gfursin commented on #97
I tried to reproduce this issue on a clean machine (velocity, with all clean repos), and it compiles fine (with clblast)!  Do you mind to remove CK-TOOLS and ck rm env:* -f  and try it from scratch again, please?
Can you then tell me if you still have this issue? Because I think that's it's not a problem anymore ... Thanks!

[2017-05-02 22:26] kindloaf opened #103 "pthread error during "ck install""
Hi,
I'm trying to "ck install":
`ck install package:lib-caffe-bvlc-opencl-libdnn-clblast-universal`, and saw the following error:

When I changed to `/home/.../CK-TOOLS/lib-caffe-bvlc-opencl-libdnn-clblast-trunk-gcc-4.9.4-linux-64/obj/CMakeFiles/CMakeTmp`, I didn't see any file. I couldn't locate file CheckFunctionExists.c.o

Any advice on how to fix this?

[2017-05-02 23:10] kindloaf opened #104 "Test different models"
Hi,
When I first run "ck run ...", I got a list of models to choose from.
The next time I ran it, I don't see the list any more.
How can I choose a different model?

[2017-05-02 23:39] kindloaf opened #105 "ARM GPU/OpenCL optimization"
Hi,
I'm reading the current [crowd-source result](http://cknowledge.org/repo/), and it seems that the GFLOPS it implies is much lower than the advertised GFLOPS of Mali GPUs. From [wiki](https://en.wikipedia.org/wiki/Mali_(GPU)), Mali T880 has about 20 GFLOPS per core. But from the test result, many entries reported that it take ~1 second to run squeezenet (about 1 GFLOP), and a few seconds to run

[2017-05-03 08:21] psyhtest commented on #103
Often this can be resolved by installing `libboost-dev` e.g.
[code]
Does this work for you?

[2017-05-03 08:53] fvella commented on #97
I reproduced the issue on a clean machine. The problem persist if I remove "-shared" from the meta.json of caffe-time-opencl

[2017-05-03 08:56] psyhtest commented on #104
@kindloaf
The first time you didn't have any models installed, so CK offered you to install one. You can view which one you selected as follows:
[code]
Now, because you have a single model installed, CK just selects it all the time. You need to install other models for CK to present you with a choice.

You can list all models available in the CK-Caffe repository as follows:
[code]
Then, just pick

[2017-05-03 08:56] #104 closed, assigned to nobody

[2017-05-04 07:52] gfursin commented on #103
By the way, @kindloaf , what is the platform (OS,CPU)? I just never encountered this issue before ...

[2017-05-04 08:07] gfursin commented on #105
Yes, we've noticed that too. Current Caffe OpenCL version is not yet well optimized, and it seems that most optimization parameters for kernels seem to be tuned for NVIDIA GPUs (there is also an on-going community effort to improve Caffe for Intel and AMD GPUs but very little for Mali).

Note, that the first stage of our CK-Caffe project was to provide a workflow framework to simplify customizatio

[2017-05-04 08:49] gfursin commented on #97
Bizzare - which machine did you use? velocity? I again rebuilt everything on velocity without -shared and it worked fine ... However, such problem happens when there is a mix between libs in /usr/lib and compiled by CK via LD_LIBRARY_PATH (I don't yet have a good solution for that) ...

[2017-05-04 08:49] gfursin commented on #97
And do you target x86(64) or it's for Android?

[2017-05-04 08:58] gfursin commented on #97
Oh, I see that it's for Android, while I am checking for x86_64 ...

[2017-05-04 09:08] gfursin commented on #97
I still can't reproduce this issue, but I suggest to remove -shared from meta (it's not correct for Windows), and use the following for compilation on problematic platforms:
$ ck compile program:caffe-time-opencl --target_os=android21-arm64 --lflags=-shared

[2017-05-04 23:22] kindloaf commented on #105
@gfursin Thank you for the detailed information. It's very helpful to me to see the overall plan!

[2017-05-04 23:22] #105 closed, assigned to psyhtest, gfursin, fvella

[2017-05-31 16:27] twang15 opened #107 "Fail to install ck-caffe"
Following the installation guide (ck-caffe on ubuntu 16.04),

after running "ck pull repo:ck-caffe --url=https://github.com/dividiti/ck-caffe"

Error occurs:
******************************************************************
Updating repo "ck-caffe" ...

  Local path: /home/tao/CK/ck-caffe
  URL:        https://github.com/dividity/ck-caffe

  cd /home/tao/CK/ck-caffe
  git pull

fatal: Not a git r

[2017-05-31 18:52] psyhtest commented on #107
@twang15 Thanks for reporting! I can see that the URL is wrong during the update (it should contain "dividiti", not "dividity"). Not sure how that could happen but I will check all repos...

[2017-05-31 22:09] psyhtest commented on #107
@twang15
Could you please also share the output of:
[code]
Thanks!

[2017-05-31 22:44] twang15 commented on #107
Here is the result:

Please wait - it may take some time ...

ctuning-programs         ( master ; 5fb023f ; https://github.com/ctuning/ctuning-programs )
ck-dissemination-modules ( master ; 2c1f96e ; https://github.com/ctuning/ck-dissemination-modules )
ctuning-datasets-min     ( master ; 520ac1f ; https://github.com/ctuning/ctuning-datasets-min )
ck-caffe                 (  ;  ; https://github.co

[2017-05-31 23:51] psyhtest commented on #107
@twang15
As you can see, `ck-caffe` is the only repository for which a specific branch and revision are not shown! Again, I have no idea how this could have happened :( but can you please try to reinstall CK-Caffe as follows:
[code]

[2017-06-01 00:29] twang15 commented on #107
It works after following your instructions.
Thanks a lot!

[2017-06-01 07:59] gfursin opened #108 "Fixing OPENBLAS_NUM_THREADS env during installation/usage of Caffe?"
(Moving ticket from https://github.com/ctuning/ck/issues/76)

Just found interesting behavior if OPENBLAS_NUM_THREADS is not set at all - I expected that Caffe CPU version would use OpenMP and multiple threads with default build, but it doesn't seem to be the case, or the OpenMP strategy is not optimal. We just noticed that on multi-core ARM-based machine with Ubuntu when env var "OPENBLAS_NUM_THR

[2017-06-01 08:07] gfursin commented on #107
By the way, CK should fail when pulling non-existent GitHub repo. It's a bug so thanks @twang15 for finding it - I opened a ticket for CK and will try to fix it for the next release: https://github.com/ctuning/ck/issues/77

[2017-06-01 23:21] psyhtest commented on #103
@kindloaf Do you still have this issue please?

[2017-06-01 23:23] psyhtest commented on #102
@gfursin, you forgot to mention here that you have recently added it: http://github.com/ctuning/ck-caffe2 :)

[2017-06-01 23:24] #107 closed, assigned to nobody

[2017-06-02 09:28] mlosab3 commented on #102
my apologies for not staying in touch. certainly I shall look at it after my internship. i like your idea to develop a common api for caffe2 and caffe.

[2017-06-02 09:28] #102 closed, assigned to nobody

[2017-06-08 11:51] psyhtest opened #109 "Create package:lib-caffe-bvlc-opencl-libdnn-cuda-universal"

[2017-06-08 11:57] psyhtest opened #110 "Create package:lib-caffe-nvidia-0.16-[cuda|cudnn]-[fp16|fp32]"
- Create Ck-Caffe packages for NVIDIA's [caffe-0.16](https://github.com/nvidia/caffe/tree/caffe-0.16) branch
  - for cuBLAS and cuDNN;
  - for fp16 and fp32.
- Deprecate `package:lib-caffe-nvidia-fp16-cuda`, `package:lib-caffe-nvidia-fp16-cudnn` (NVIDIA removed their `experimental/fp16` branch).
- Take care of the cuDNN 6.x dependency (perhaps patch to remove the check so to still allow building w

[2017-06-08 12:10] psyhtest opened #111 "Builds with package:lib-protobuf-host-3.3.0 fail"
Any Caffe build (e.g. `package:lib-caffe-bvlc-master-cuda-universal`) with `package:lib-protobuf-host-3.3.0` installed fails:
[code]

[code]

[2017-06-08 13:50] psyhtest commented on #111
A workaround is to use `lib-protobuf-host-3.1.0` (as currently hardcoded in the metadata) or `lib-protobuf-host-3.2.0`. Building with `lib-protobuf-host-trunk` also fails.

[2017-06-08 16:02] psyhtest commented on #109
@fvella Many thanks for contributing this package!

[2017-06-08 16:02] #109 closed, assigned to fvella

[2017-06-08 17:51] kindloaf commented on #103
@psyhtest Sorry for the late reply. I haven't got a chance to test it. I will close the issue for now.
Thanks for your help.

[2017-06-08 17:51] #103 closed, assigned to nobody

[2017-06-29 18:59] yzh89 opened #112 "Missing shared object file when run caffe-classification"
I followed the tutorial and finished installation of CK-caffe. compiling of classification has no errors, but when running, the system complain about missing .so file. The error file is attached below
[code]

[2017-07-03 10:00] psyhtest opened #113 "Clean up Boost dependencies in classification and detection programs"
I've found several issues with the Boost dependencies in the Caffe classification and detection programs (`caffe-classification`, `caffe-classification-cuda`, `caffe-classification-opencl`, `caffe-detection-ssd`, `caffe-detection-ssd-cuda`).

1. Boost is specified twice as follows:
[code]
Apart from the obvious name difference, the first dependency specifies `"skip_from_bat": "yes"`, while the sec

[2017-07-03 11:36] psyhtest commented on #113
In fact, even if GLog is installed via CK (from trunk, although a stable package is [wanted](https://github.com/ctuning/ck-env/issues/39)), the problem is the same.

[2017-07-03 11:46] gfursin commented on #113
There is an issue that I noticed some time ago and it's not fixed. When mixing automatically detected libs and installed via CK, a system path /usr/lib64 can be added to LD_LIBRARY_PATH in the middle and it mixes up linking (i.e. part of the libs will be from CK and part suddenly overloaded from /usr/lib64). There is no obvious solution and I found that other package managers/cmake complain about

[2017-07-03 12:44] psyhtest commented on #113
As I mentioned, boosting (sic:)) the order of:
[code]
to 4, eliminated the link-time warnings and run-time failures.

Moreover, I could get rid of:
[code]
completely (at least on my Ubuntu laptop).

Is it still needed? If yes, I suggest we clean this across all the programs e.g. as follows:

[code]

I'm also confused about the `skip_from_bat` and `force_add_static_lib_path` keys.

[2017-07-04 09:19] psyhtest commented on #112
yzh89 Thanks to our offline investigation, it is now clear what's going wrong.

CK sets up the path to the Caffe library as follows:
[code]
However, on your Ubuntu 14.04 platform the Caffe library gets installed under `$CK_TOOLS/lib-caffe-bvlc-master-cpu-master-gcc-4.8.4-linux-64/install/lib/x86_64-linux`, i.e. one level down in the `x86_64-linux` subdirectory.

This actually appears to be quite c

[2017-07-06 12:07] psyhtest commented on #110
Implemented CUDA and cuDNN supporting both fp32 and fp16:
- https://github.com/dividiti/ck-caffe/tree/master/package/lib-caffe-nvidia-0.16-cuda-universal
- https://github.com/dividiti/ck-caffe/tree/master/package/lib-caffe-nvidia-0.16-cudnn-universal

[2017-07-06 12:07] #110 closed, assigned to psyhtest, fvella

[2017-07-17 09:11] #85 closed, assigned to Rhymmor

[2017-07-17 14:51] XiaoMaol opened #114 "Cannot find the boost library"
Dear all:

I currently trying to use ck-caffe to download caffe on my mali-GPU. After downloading the necessary components, I use the command
``` ck install package:lib-caffe-bvlc-opencl-clblast-universal --env.DISABLE_DEVICE_HOST_UNIFIED_MEMORY=ON --env.CK_HOST_CPU_NUMBER_OF_PROCESSORS=2    ``` to download Caffe.
But it seems that ck-caffe is trying to find Boost Library in a wrong directory:
I h

[2017-07-18 07:48] dohai90 commented on #114
@XiaoMaol , Hello, It's nice to know that you are using ck-caffe with mali GPU because I'm doing so :D
I faced your problem some days ago, and I worked around to overcome with this problem as follow:
1. sudo apt-get install build-essential g++ python-dev autotools-dev libicu-dev libbz2-dev libboost-all-dev
2. Go to boost homepage and download the lastest boost library (v1.64 as I remember).
3. ./b

[2017-07-18 09:58] psyhtest commented on #114
First of all, @XiaoMaol @dohai90, it's nice of you both to use CK-Caffe. Thanks for your interest! :)

@XiaoMaol It's a bit weird that CK didn't offer to install Boost when it failed to find it in the system path (`/use/lib`) but perhaps it was a partial installation. As @dohai90 noted, it is not sufficient to just download Boost - you need to build it. Unfortunately, it's a bit of a pain to do so

[2017-07-18 10:01] psyhtest commented on #114
@dohai90, please try building Caffe w/ CLBlast with the above flags. I suspect your failure relates to this workaround not being enabled. If this doesn't help, please open a separate issue and provide more information.

We don't yet support building Caffe with FP16, although the OpenCL branch already supports it. I'll open an enhancement request.

It's cool you want to run YOLO! Have you already c

[2017-07-18 10:07] psyhtest opened #115 "Support FP16 in OpenCL packages"
We should support building Caffe with FP16 support, as requested in #114.

**NB:** The OpenCL branch and CLBlast already support FP16. It might not make sense for clBLAS and ViennaCL.

[2017-07-18 12:08] gfursin commented on #113
Unfortunately, there are some nuances on some platforms, so I would suggest not to touch it now! The solution is to avoid using LD_LIBRARY_PATH with mixing CK-installed packages and usr/lib, but instead use only explicit paths ... But it's not done yet, and will require various changes in the CK ... I would prefer not to do it right now since we can break lots of deps ... But I am thinking one day

[2017-07-19 00:59] jialiang19 commented on #114
I had a similar problem of finding boost library, and after following @psyhtest's guide, I solve the problem.

[2017-07-20 18:07] XiaoMaol commented on #114
Hey @dohai90, thank you so much for giving me advice! and I am so glad to hear that you are doing real time object detection using Mali.

Hey @psyhtest, thank you so much for your help as well. Currently, I finally have successfully download Caffe! :)

Here is the picture:

![ck2_1](https://user-images.githubusercontent.com/29860073/28432102-925dce26-6d7e-11e7-8dc7-5762d2cf77db.png)

[2017-07-20 18:24] XiaoMaol opened #116 "Help with Python support"
Hey @psyhtest , Thank you so much for helping me in the #114, and I can finally use Caffe in Mali GPU! Besides installing Caffe, I also like to use the python support. As a result, I use the command
[code]
as suggested by you in #114 and the documentary about python support for ck-caffe.

However, after I run the command
[code]
when I try to import caffe by command
[code]
I got the finally error m

[2017-07-20 22:14] psyhtest commented on #114
@XiaoMaol, great to hear this worked for you. And you, @jialiang19.

P.S. Wow! Your Odroid (XU4?) board has the OpenCL driver of revision 14.0, whereas the latest one can download from the [ARM Mali drivers' page](https://developer.arm.com/products/software/mali-drivers/user-space) is 12.0...

[2017-07-20 22:14] #114 closed, assigned to nobody

[2017-07-23 08:50] gfursin commented on #114
By the way, in the cases, when "correct" version of dependency such as Boost is installed in an unusual path, it is possible to detect it first (before installing Caffe via CK) while giving CK extra paths to search libraries like this:
[code]
and then continue installing Caffe via CK.

Another note - rather than calling `./caffe device_query`, you can also use the CK front-end for Caffe (we are tr

[2017-07-23 09:16] gfursin commented on #114
And just one more thing. Another alternative is to install Boost using CK package:
$ ck list package:*boost*
$ ck install package:lib-boost-1.64.0
and then install Caffe ...

[2017-07-23 12:40] gfursin commented on #116
Hi @XiaoMaol.

I tried to reproduce your error on Odroid, but didn't manage.

I compiled Caffe with python support using the command line you mentioned and it worked fine. I could run
[code]
and then
[code]

It worked fine.

Nevertheless I added an extra option to pass additional CMD after make. You can update ck-env repo and then try the following:
[code]
This should run "make pycaffe" after main

[2017-07-23 23:41] XiaoMaol commented on #116
Hey @gfursin, Thank you so much for offering help. I have tried the command you provided, and In the last few lines of the build of the Caffe I can see that pycaffe is built.
![ck-caffe_issue3_1](https://user-images.githubusercontent.com/29860073/28504027-24be25be-7008-11e7-83a4-a52e239adc26.png).
But whenever I try to import the caffe, I have encountered same error. I have tried to installed it t

[2017-07-24 07:34] gfursin commented on #116
Hmm, I have a feeling that it's not related to Caffe build, but to incomplete Python installation or missing dependencies. Did you install all deps:

[code]

I just can't reproduce this error :( ...

[2017-07-25 06:08] dohai90 opened #117 "cmake error with lib-clblast-mali-overlay"
Dear @psyhtest and @gfursin, thank you for your great work.
I have a problem when installing ck-caffe on odroid xu4 with this command:
$ ck install package:lib-caffe-bvlc-opencl-clblast-universal --env.DISABLE_DEVICE_HOST_UNIFIED_MEMORY=ON --env.CK_HOST_CPU_NUMBER_OF_PROCESSORS=2 --env.CAFFE_BUILD_PYTHON=ON

and I want to use optimized clblast for mali GPU so I chose as below:
![clblast_with_mali_

[2017-07-25 16:41] XiaoMaol commented on #116
Dear @gfursin:

I have figured out the problem:

The problem seems to be in the line
[code]

and it can be fixed by
[code]

But I ran into some problems running the example with jupyter, and I will open another issue for that.

Thank you so much for your help!

[2017-07-25 16:41] #116 closed, assigned to nobody

[2017-07-25 16:57] XiaoMaol opened #118 "Failing in runing "00-classification.ipynb" example GPU mode with ARM Mali GPU"
Hey @psyhtest and @gfursin:

I really appreciate your help thus far. Sorry that I run into more problems again.
I installed my caffe as suggested by you with the command
[code]
I have some problems run the example "00-classification.ipynb," provided by Caffe in the directory
[code]

I run by the command
[code]
I can perfectly import caffe, and make the cpu load the weights, deploy, and run.
But I

[2017-07-27 22:24] psyhtest commented on #118
@XiaoMaol First, let me explain what the `DISABLE_DEVICE_HOST_UNIFIED_MEMORY` flag does. It was [introduced](https://github.com/naibaf7/caffe/issues/53) as a workaround for a rather annoying ambiguity of the [OpenCL specification](https://www.khronos.org/registry/OpenCL/sdk/1.2/docs/man/xhtml/clGetDeviceInfo.html) that says that `CL_DEVICE_HOST_UNIFIED_MEMORY` property of `clGetDeviceInfo()`:

Now

[2017-07-27 22:32] psyhtest commented on #118
You may now ask, why do you have this Jupyter error in the first place? The honest answer is that I have no idea :). But if I were to guess, the device query seemed to be somewhat different for OpenCL. For example, for [program:caffe](https://github.com/dividiti/ck-caffe/blob/master/program/caffe/.cm/meta.json), the `query_gpu_cuda` command looks like:
[code]
while the `query_gpu_opencl` command l

[2017-07-27 22:35] #118 closed, assigned to psyhtest

[2017-07-27 22:51] psyhtest commented on #117
@dohai90 The `lib-clblast-mali-overlay` package was a hack by @intelfx to override the standard CLBlast SGEMM kernel with the [one optimised by ARM](https://github.com/ARM-software/ComputeLibrary/blob/master/src/core/CL/cl_kernels/gemm.cl). This hack sort of worked one year ago when CLBlast was around version 0.7-0.8. A [generalisation](https://github.com/CNugteren/CLBlast/pull/135) of it is still

[2017-07-27 23:03] psyhtest commented on #117
Now, to answer your question about optimising CLBlast for Caffe. We are actively working on it, so our CK workflows are rather unstable. We are planning to release them soon along with some intriguing results. I'm not sure it's worth sharing them before that.

From a high level view, you install `ck-math:lib-clblast-master-universal-tune` first and tune it with [CLTune](https://github.com/CNugtere

[2017-07-27 23:09] psyhtest commented on #117
Finally, what's the difference between `lib-caffe-bvlc-opencl-clblast-universal` and `lib-caffe-bvlc-opencl-libdnn-clblast-universal`? The latter uses [libDNN](https://github.com/naibaf7/libdnn), a tunable open-source version of cuDNN, that's part of Greentea (OpenCL Caffe). Typically, libDNN is only used for convolutions. Greentea falls back to a BLAS library to perform matrix operations (e.g. fo

[2017-07-27 23:10] #117 closed, assigned to psyhtest

[2017-07-28 16:08] naibaf7 commented on #118
Without having read the whole context, it is just important to use `set_mode_gpu()` before `set_device()`, otherwise it will fail. But this is the only "more strict" rule compared to CUDA Caffe.

[2017-07-28 19:00] psyhtest commented on #118
From @XiaoMaol's initial comment, the order of these calls is reversed:

caffe.set_device(0)  # if we have multiple GPUs, pick the first one
caffe.set_mode_gpu()

[2017-07-30 22:47] XiaoMaol commented on #118
Hey, @naibaf7 and @psyhtest:

I have tried to reverse the order of the call, but it still does not work. I think the problem is somewhere else, but I do not know where.

what other more information can I provide to give a better description of the problem? Thanks!

[2017-07-31 07:43] psyhtest commented on #117
Having said that, the new threshold for ARM GPUs introduced by @mcian in [PR#175](https://github.com/CNugteren/CLBlast/pull/175) already gives quite good performance on Mali.

[2017-07-31 09:55] dohai90 commented on #117
Thank you for your help,

But how can I use lib-clblast-mali-overlay on Odroid because I've faced the cmake issue as above,
Could you guide me steps to install ck-caffe with lib-clblast-mali-overlay? :)

[2017-07-31 13:37] psyhtest commented on #117
@dohai90 Sorry, as I said, I don't think it's a good idea to even try `lib-clblast-mali-overlay` now, as CLBlast has considerably changed, while the overlay hasn't. Anyway, it was incomplete (only worked for forward propagation on AlexNet and SqueezeNet 1.0, IIRC) and didn't actually provide any great speedups. I've removed this deprecated package from `repo:ck-math`.

[2017-07-31 19:06] XiaoMaol commented on #118
Today, I have tried Caffe without the Python Layer, and this is what I get.

When I tried to run with the GPU device 0, the program is killed:
![caffe_gpu_device_0_trial_1](https://user-images.githubusercontent.com/29860073/28792046-538bc152-7626-11e7-84ae-98206bd7fd13.png)
![caffe_gpu_device0_trail_1_result](https://user-images.githubusercontent.com/29860073/28792062-5d941ff0-7626-11e7-9e4f-57b6d

[2017-07-31 19:14] naibaf7 commented on #118
Sounds a lot like a faulty driver. Can you try an absolute minimal network with just one fully connected layer to differentiate if Caffe works on that driver at all or not?

[2017-08-02 01:23] XiaoMaol commented on #118
Hey @naibaf7, @psyhtest :
The Caffe can run a smaller network. In addition, when I reduce the input image size of the Alexnet into 1 from 10, it also works. Thus, it seems to be a problem of memory rather than Caffe itself.
However, I am suspecting the crash is due to the memory of my device rather than GPU memory.
I am currently also using ARM computing library as well. Its AlexNet also crash whe

[2017-08-02 09:39] psyhtest commented on #118
@XiaoMaol On Odroid and similar system-on-a-chip platform, the total system memory (e.g. 2 GB) is shared between all the devices. The GPU doesn't have any dedicated memory like on desktop or server cards. When you run out of this memory, you cannot use the GPU either.

[2017-08-03 06:00] uriv commented on #98
Hi, trying to benchmark a GPU workstation with `package:lib-caffe-bvlc-master-cuda-universal` using `explore-batch-size-libs-models-benchmarking.py`.
As is, it proposes only CPU packages. I changed `program='caffe-time'` to `program='caffe-time-cuda'`, but now it fails with the error above.

Is there a workaround to get the benchmark running?

Edit: it might be a problem with lib-caffe: the tags i

[2017-08-03 13:38] psyhtest commented on #98
Hi @uriv, I've [committed](https://github.com/dividiti/ck-caffe/commit/d0e0cc2d6edb523a00a5965fb87f00568cca2826) a new script just for benchmarking Caffe with CUDA and cuDNN. The key difference is this:
[code]
Please give it a try!

[2017-08-03 13:44] psyhtest commented on #98
I've checked tags for `package:lib-caffe-bvlc-master-cuda-universal` - they seem to be fine. Did you mean a different package? (I do recall [fixing](https://github.com/ctuning/ck-tensorflow/commit/ae5f13f4317f37702c5213f839037787590eb5d7) the `vcpu` tag in a non-CPU package lately in... [CK-TensorFlow](https://github.com/ctuning/ck-tensorflow/):-))

[2017-08-04 10:07] #94 closed, assigned to psyhtest, gfursin

[2017-08-04 12:08] uriv commented on #98
Thanks, @psyhtest. I'll give the patch a try when I get the chance. I've installed `package:lib-caffe-bvlc-master-cuda-universal`. If there is a command that prints more info, I can reply with the output.

[2017-08-04 13:16] psyhtest commented on #98
@uriv, you don't need to patch anything. Just use the new `explore-batch-size-libs-models-benchmarking-cuda.py` script.

Please post the output of:
[code]

[2017-08-07 13:04] uriv commented on #98
Hi @psyhtest,

The benchmark worked with `program='caffe', cmd_key='time_gpu' `, after fixing an `non-ASCII character '\xc2'` error by appending `# -*- coding: utf-8 -*-` to `ck-analytics/module/math.variation/module.py` [(ref).](https://stackoverflow.com/questions/18078851/syntaxerror-of-non-ascii-character)

Here is the output of `ck show env --tags=lib,caffe`:

[code]
`vno-cudnn` probably impli

[2017-08-07 13:39] psyhtest commented on #98
@uriv The `vno-cudnn` tag means that `package:lib-caffe-bvlc-master-cuda-universal` doesn't use cuDNN. In contrast, `package:lib-caffe-bvlc-master-cudnn-universal` is tagged with 'vcudnn'. Basically, this is to distinguish the two packages when needed, as both are tagged with `vcuda`.

We used to tag the former with `vcuda` only and the latter with `vcudnn` only. But as this particular `program:ca

[2017-08-07 13:39] psyhtest commented on #98
@gfursin Could you please check @uriv's comment about fixing an non-ASCII character?

[2017-08-08 07:42] uriv commented on #98
@psyhtest Thanks for the clarification no this.

[2017-08-09 07:50] gfursin commented on #98
Yes, I fixed non-ASCII character - I removed it at all and added ASCII... Thanks for noting ...

[2017-08-12 17:23] Lmy0217 commented on #114
@dohai90 @psyhtest, I get similar error of finding boost library when I use the command

[code]

the error message is

[code]

the boost include path in error message is CK-TOOLS subdirectory. I check this directory and I find only 7 files in folder `install/lib` as follows

[code]
so I use the command

`ck install package:lib-boost-1.64.0-acl --target_os=android24-arm-v7a`

to rebuild this boost

[2017-08-14 16:38] psyhtest commented on #114
@Lmy0217 You are using a wrong package `package:lib-boost-1.64.0-acl`. It's a special version I prepared to use with the [ARM Compute Library](https://github.com/arm-software/computelibrary). Please try:
[code]

[2017-08-17 08:54] Lmy0217 commented on #114
it's successfully installed, thanks. @psyhtest

[2017-09-28 07:29] dohai90 commented on #115
Has CK-Caffe been supported by FP16?

[2017-10-12 00:05] abhi1212 opened #119 "How can we specify we want to use BatchedGemm api and also the batch size while running Caffe with CLBLAST Library?"

[2017-10-12 00:07] abhi1212 commented on #119
@psyhtest
@gfursin

[2017-10-19 19:41] abhi1212 opened #120 "No Clablast library installed in lib-caffe-bvlc-opencl-clblast-universal package"
Whenever we run the command ck install package:lib-caffe-bvlc-opencl-clblast-universal, we get Caffe without CLBLAST library installed.
Are we supposed to comment the line DUSE_LIBDNN:BOOL=${USE_LIBDNN} in the install script?

[2017-10-19 19:49] gfursin commented on #120
Is it possible to get a log, please?

If it's too large, can you can please invoke "ck install package:lib-caffe-bvlc-opencl-clblast-universal" again and just send me info with how CK resolved dependencies.

Also can you please send the output of
[code]

Finally, I recently added a stable package for Caffe OpenCL with CLBlast (all dependencies are compiled so it may take some time). Can you please

[2017-10-19 19:51] abhi1212 commented on #120
Thanks a lot @gfursin , I will send the log and try the new package as quickly as possible.
Well , I am using an Intel server with a Quadro Gpu
Os- LInux, Ubuntu 64 bit

[2017-10-19 19:58] abhi1212 commented on #120
So, I ran the command again and this is how ck resolves the dependancy

Resolving software dependencies ...

*** Dependency 1 = cmake (cmake):

    Resolved. CK environment UID = 4ce088373b84c775 (detected version 3.5.1)

*** Dependency 2 = compiler (C++ compiler):

    Resolved. CK environment UID = aa2445c08a129029 (detected version 5.4.0)

*** Dependency 3 = lib-opencl (OpenCL stubs library):

[2017-10-19 20:00] abhi1212 commented on #120
Also, the ck install package:lib-caffe-bvlc-opencl-clblast-universal-20171015 did not work, I reckon I need to pull the repo again for that, I got a
**can't find path to CK entry "package:lib-caffe-bvlc-opencl-clblast-universal-20171015" (?:1dc07ee0f4742028:?)!** error.

[2017-10-19 20:02] abhi1212 commented on #120
This is the output for ck show env --tags=clblast

![image](https://user-images.githubusercontent.com/22337618/31791530-d4cea21c-b4e6-11e7-9f91-728184a73afc.png)

[2017-10-19 20:27] gfursin commented on #120
Hmm, CLBLast seems to be installed fine. How did you check that Caffe was installed without CLBlast?

You can try a simple OpenCL benchmark to check that it works:
[code]
Usually, when OpenCL-based installation is broken, it fails too ... The first run can be a bit slow due to internal kernel caching but subsequent runs are usually much faster ...

LIBDNN is another library which can work with or

[2017-10-19 20:50] abhi1212 commented on #120
Thanks a lot @gfursin for your prompt reply, there are multiple new functions supported by Clblast library such as *Xgemmbatched*. I cannot find a way for using these apis like Xgemmbatched with Caffe.
I said it is not installed with Caffe because I cannot find any CLBLAST files inside the :lib-caffe-bvlc-opencl-clblast-universal-20171015 package.
I request you to please guide me in using the Clba

[2017-10-19 20:54] psyhtest commented on #120
@abhi1212 A CK package is just a recipe to download, build and install a piece of software, while resolving its dependencies. The actual files get installed into a folder at `$HOME/CK-TOOLS` (or into `$CK_TOOLS` if this env variable is defined).

[2017-10-19 20:58] gfursin commented on #120
Yes, CLBlast is installed in a separate place and then linked dynamically. The point of CK is to let you reuse various installations of libs in your projects. @psyhtest - maybe you can provide a few notes about which functions are currently used from CLBlast in the Caffe OpenCL branch, and where they are linked? I think it's done via ViennaCL API? Thanks!

[2017-10-19 21:00] psyhtest commented on #119
@abhi1212 I have not followed the very latest developments but I don't think that the OpenCL branch of Caffe supports the batched GEMM API of CLBlast. However, you can still request to process your data using batches. If you are interested, I can tell you how to do this via CK-Caffe.

/cc @cnugteren @naibaf7

[2017-10-19 21:04] abhi1212 commented on #120
Thanks a lot @psyhtest and @gfursin for your detailed explanation, I seem to have an idea about the flow.
It would really be helpful if @psyhtest can provide me with some notes on which functions are currently used from CLBlast in the Caffe OpenCL branch, and where they are linked.
I searched a lot but could not find any documentation on that.
Thanks

[2017-10-19 21:07] gfursin commented on #120
BTW, I just saw your ticket #119 (I somehow missed it - we now have a very intense project with very close deadlines) - I saw @psyhtest answered there.  Maybe @CNugteren and @naibaf7 can provide more details about which CLBlast functions are currently used in the Caffe OpenCL branch ...

[2017-10-19 21:09] abhi1212 commented on #119
@psyhtest , I would love to know how we do that.
But are we referring to the number of images processed in a batch?

[2017-10-19 21:11] abhi1212 commented on #120
Thanks a lot @gfursin , your help is much appreciated.

[2017-10-19 21:15] abhi1212 commented on #119
Also, @psyhtest we do have a batched Gemm api for Caffe2.

[2017-10-19 21:44] psyhtest commented on #119
@abhi1212 Please take a look at [greentea_math_functions.cpp](https://github.com/naibaf7/caffe/blob/master/src/caffe/greentea/greentea_math_functions.cpp) to see which CLBlast functions are called from Caffe.

You can run something like this to process several images per batch (e.g. 4):
[code]

[2017-10-20 06:36] CNugteren commented on #119
So, if I understand it correctly, there is no batched version of CLBlast used there right now. Maybe we should see how we can integrate that to get better performance?

[2017-10-23 18:19] abhi1212 commented on #119
Yes, @CNugteren we could combine BatchedGemm of Clblast with caffe and observe the performance.

[2017-10-23 18:43] naibaf7 commented on #119
Currently there's no BatchedGemm for OpenCL Caffe. The three options with OpenCL are subgroup convolutions (by Intel), fused im2col+gemm implementations (LibDNN), which do im2col of a whole batch plus GEMM in one single kernel (data rearrangement happens in GPU local memory), and the classical im2col+GEMM, which repeats (im2col+GEMM) N times to do the whole batch.

[2017-10-23 18:51] abhi1212 commented on #119
Wow, that seems interesting, in the classical im2col plus Gemm are you referring to the **groups** which we have in Caffe?
Also, are Intel Subgroup Convolution limited to Cpu?
@naibaf7

[2017-10-24 13:56] naibaf7 commented on #119
@abhi1212 No, intel subgroups are a specific technology that their GPUs have.
Hence, Intel Subgroup Convolution is limited to Intel iGPUs, not CPUs.
See here:
https://www.khronos.org/registry/OpenCL/extensions/intel/cl_intel_subgroups.txt

[2017-10-24 16:30] abhi1212 commented on #119
Thanks a lot @naibaf7 , unfortunately I dont have an Intel Gpu, so I can not run Intel subgroup convolutions.
The **fused im2col+gemm implementations (LibDNN**) does it do all the convolution for a single layer at once? Also, when we use ck caffe with libdnn is the fused convolution default one or we need to specify it?
Also, talking about classical convolution we do it N times for completing a pa

[2017-10-25 14:37] naibaf7 commented on #119
@abhi1212 For AMD GPUs you can run LIBDNN convolutions, for nVidia GPUs you can run CUDNN convolutions, for Intel GPUs you can use Intel Spatial/Subgroup convolutions. Yes LibDNN does the whole convolution at once. One kernel call does all N elements of a batch.
The only GPUs that don't have a good convolution engine yet are all the ones you usally see coming with ARM based CPUs (Mali, Adreno, Pow

[2017-10-25 14:44] abhi1212 commented on #119
Thanks @naibaf7, as Nvidia Gpus also support Opencl, cant I run Caffe with Libdnn on Nvidia Gpus?
I have worked with Cudnn in the past wanted to use LIbdnn or Clblast with Caffe for an Nvidia Gpu.

Also, can you please help me with the **N** parameter, how can we divide an entire batch into small sizes and then do im2col and gemm on it. Where can I find this parameter?

[2017-10-25 15:13] naibaf7 commented on #119
@abhi1212 You can't. If you want to do im2col, it will be executed N times. It would also not make sense to do im2col more often than once, since buffer memory to store the result of im2col will get very big, very fast. Thus also batched-gemm has very strict limits, since im2col result needs to be less than 2 GB in size (otherwise it will fail in 32 bit pointer Caffe and waste a lof of memory in 6

[2017-10-27 10:24] gfursin commented on #119
As for CK - it just provides high-level wrappers with JSON API around Caffe to unify building and running across Linux, Windows, MacOS and Android. We expose only a few parameters and leave the rest to the default build system. Current JSON params and associated CMake flags are here:
* https://github.com/dividiti/ck-caffe/blob/master/package/lib-caffe-bvlc-opencl-libdnn-clblast-universal/.cm/meta.

[2017-11-02 18:39] abhi1212 commented on #119
Thanks a lot @gfursin  and @naibaf7

[2017-11-07 15:24] bxk-sonavex opened #121 "fatal error LNK1104: cannot open file 'libboost_date_time-vc140-mt-1_64.lib'"
First of all, thanks for providing the CK package, it works amazingly!  However, when I am trying
**ck compile program:caffe-time-opencl**
I got a linking error
**fatal error LNK1104: cannot open file 'libboost_date_time-vc140-mt-1_64.lib'**

Could you help me on solving this?  Thanks a lot!

FYI, here is the log
==============================================================
[code]

[2017-11-29 08:28] dohai90 opened #122 "Could NOT find OpenCL (missing: OPENCL_INCLUDE_DIRS) on firefly rk3399 board"
Hello,
Recently, I've tried to install ck-caffe on firefly rk3399 but faced this issue.
This is the resolved dependencies log:

`Resolved. CK environment UID = 3e77b64c02a943c4

*** Dependency 7 = lib-hdf5 (HDF5 library):

    Resolved. CK environment UID = c4d0c97f4ae5794c

*** Dependency 8 = lib-opencv (OpenCV library):

    Resolved. CK environment UID = 237eef707481d955

*** Dependency 9 = lib

[2017-11-29 18:39] psyhtest commented on #121
Hi @bxk-sonavex, Apologies for the delay with replying - I've only just noticed this issue.

Not being a Windows user I am afraid I can't help much. Let me just note that CK did seem to build:
[code]
for you, but I'm not sure why linking against `libboost_date_time-vc140-mt-1_64.lib` is attempted.

Perhaps @gfursin can help here?

[2017-11-29 18:58] psyhtest commented on #122
@dohai90 Many thanks for providing the log, it's very helpful.

I am guessing CK couldn't detect `libOpenCL.so` on your system, so resolved the OpenCL dependency in an incorrect way by using `lib-opencl (OpenCL library (stubs on Android))`. Unfortunately, `libOpenCL.so` cannot be obtained via `apt install`. On my RK3399, it is located at `/usr/lib/arm-linux-gnueabihf/libOpenCL.so`, which CK usuall

[2017-11-29 19:02] #120 closed, assigned to psyhtest, gfursin

[2017-11-29 19:02] #119 closed, assigned to psyhtest

[2017-11-29 19:06] psyhtest commented on #122
By the way, here's OpenCL driver info from my board:
[code]

[2017-11-29 20:29] gfursin commented on #122
BTW, if you want to try and re-register opencl, you need first to delete the old CK env via:
[code]
and then try again (after obtaining a correct libOpenCL version as suggested by @psyhtest psyhtest):
[code]
If CK still picks up wrong version, you can force the correct one as following:
[code]
Then you can restart caffe build. BTW, CK should detect that dependency changed and will suggest you to r

[2017-11-29 20:36] gfursin commented on #121
Oh, @bxk-sonavex , the same for me - I somehow missed your ticket in myriads of our messages - really sorry about that (in case I don't reply within a week one should ping me again since I may loose emails nowdays). And thanks a lot for nice words about CK.

I think I see the problem - there is currently an unpleasant thing on Windows when building boost, that it forces extra names in the lib. I d

[2017-11-29 20:48] gfursin commented on #121
I actually think I fixed it. @bxk-sonavex , to check it you can do the following:
1) Update either just ck-caffe repo (where I have a fix) or all repos (we had many updates lately but they should normally be backwards compatible):
[code]
or
[code]

Then "refresh" Caffe env.
[code]

Normally it should fix this issue with "vcvc".

Then you can try to compile time example again:
[code]

Hopefully it

[2017-11-29 20:52] gfursin commented on #121
And thanks a lot for reporting this issue! It was typo on our side which was important to fix it since we are now preparing a fun AI/SW/HW co-design tournament based on CK framework, so hope to avoid such kind of issues ( http://cKnowledge.org/request ) ;) !

[2017-12-01 07:10] dohai90 commented on #122
@gfursin The issue has been resolved by
`$ ck rm env:a44911ecc006c67d`
and
`$ ck detect soft:lib.opencl`

@psyhtest You can find other firmware for firefly rk3399 at this link: [http://en.t-firefly.com/doc/download/index/id/3.html](url)

Thank you for your help :+1:

[2017-12-01 07:10] #122 closed, assigned to nobody

[2017-12-01 08:22] gfursin commented on #122
Cool! You are welcome @dohai90 !

[2017-12-01 11:03] dohai90 opened #123 "Performance of lib-caffe-bvlc-clblast-master-gcc-5.4.0-linux-32 on Odroid XU4"
Hello,

I have 2 Odroid XU4 boards and I have both installed lib-caffe-bvlc-clblast-master-gcc-5.4.0-linux-32 library, but the first one was installed old version and the second one was installed recent version. And I found that the old one has better performance compared to the new one as below:
The new one:
![image](https://user-images.githubusercontent.com/25627074/33479913-3b728936-d6d2-11e7-9

[2017-12-01 23:57] psyhtest commented on #123
@dohai90 There could be many reasons for the regression but let's start from the most obvious ones:
1. CLBlast has changed. When did you install your first (old) version?
2. Is the result repeatable? How do you run the program? If you use `ck run program:...`, you do not fix the CPU and GPU frequency, so they may change during execution. Using `ck benchmark program:...` is more reliable.

[2017-12-02 09:26] gfursin commented on #123
Also, after using ck benchmark program (it's a more high-level "pipeline" which attempts to set up and monitor CPU/GPU frequency, etc)) in both cases, please provide the log. It will help us see the resolved dependencies and their versions ... Thanks!

[2017-12-04 04:19] dohai90 commented on #123
Hello,
@psyhtest
1. I installed old version 2 or 3 months ago.
2. First, I used `ck run program:caffe` and get the above results. After using `ck benchmark program:caffe` they give similar performance.

@gfursin
I attached here the log of both cases.
As I understand, the benchmark utility sets max frequency for both CPU and GPU, am I right?
Although the results from both cases are similar by using

[2017-12-04 07:37] psyhtest commented on #123
If I interpret the logs correctly, the execution time is about 67 seconds
in both cases? Am I missing something?

On Mon, 4 Dec 2017 at 04:19, Trunghai Do <notifications@github.com> wrote:

[2017-12-04 07:49] dohai90 commented on #123
@psyhtest
Yes, you are right, but that is the benchmark program.
However when I run the same network architecture using lib-caffe-bvlc-clblast-master-gcc-5.4.0-linux-32 framework, the new one is slower even though I have set max frequency for CPU and GPU on both boards, it's really strange.

[2017-12-04 09:20] psyhtest commented on #123
Also, from your logs it seems that you use different versions of CK (or at
least repos). Can you please update by `ck pull all`. I remember fixing
some problems with scripts when you had to change to the directory with
scripts before running them, otherwise they wouldn’t run properly...

If you still have issues, please run `ck-print-cpu-freq`
(`ck-print-gpu-freq`) after `ck-set-cpu-performance`
(

[2017-12-04 09:25] psyhtest commented on #123
See a potential issue below.

[2017-12-05 15:53] gfursin commented on #123
BTW, the new CLBlast may have regressions on older architectures (though there are plans to make it more adaptive). To check it, you may want to use dvdt profiler to profile OpenCL kernels in Caffe:
[code]
Also, if you notice some errors in the platform scripts, please feel free to update them and provide a patch. The main idea behind CK is to collaboratively understand regressions/reproducibility

[2017-12-07 14:37] psyhtest commented on #123
In the new device log, I see:

[code]

I would expect to see `export CK_GPU_FREQUENCY` here...

[2017-12-12 09:31] psyhtest opened #126 "Caffe packages get passed -DBoost_ADDITIONAL_VERSIONS="1.62""
For many (all?) Caffe package, `-DBoost_ADDITIONAL_VERSIONS` is hardcoded to 1.62, whereas we already can install 1.64 and 1.65.
[code]

[2017-12-12 09:32] psyhtest commented on #126
It's probably not that important but who knows when this may bite us...

[2017-12-12 09:35] psyhtest opened #127 "Caffe SSD packages use default LMDB and HDF5"
They should be updated as e.g. snapshot packages:
[code]
(perhaps not to the exact versions though).

[2017-12-19 13:36] #2 closed, assigned to nobody

[2017-12-19 13:36] psyhtest commented on #2
Handing of installation paths has been changed since this ticket was created, hence closing.

[2018-01-19 11:06] psyhtest opened #129 "Deprecate CUDA packages"
Caffe used to support three modes: CPU, CUDA (cuBLAS) and cuDNN. They seems to have dropped cuBLAS support, so there are only two options:
[code]
Therefore, the CUDA packages are the same as the cuDNN ones, so we should deprecate them. To avoid confusion and for consistency with CK-TensorFlow, we should then rename `cudnn`  packages to `cuda`.

[2018-01-19 11:21] gfursin commented on #129
Wait, but someone may still want to check older versions/technology? How will they be able to do that if you remove such packages?

[2018-02-15 11:51] psyhtest opened #131 ""ck install package:lib-caffe-bvlc-opencl-cpu-universal" fails with HDF5 1.10.1"
`ck install package:lib-caffe-bvlc-opencl-cpu-universal` fails with HDF 1.10.1:
[code]
as follows:
[code]

It works with HDF 1.8.16:
[code]

[2018-02-15 12:13] psyhtest commented on #131
Found on `velociti`. Reproduced on `diviniti`.

[2018-02-15 12:24] #131 closed, assigned to nobody

[2018-02-15 12:49] psyhtest opened #132 ""ck run program:caffe --cmd_key=time_cpu" fails with Caffe built from "lib-caffe-bvlc-opencl-cpu-universal""
[code]

[2018-02-15 12:54] psyhtest commented on #132
The same works fine with Caffe built via `ck install package:lib-caffe-bvlc-master-cpu-universal`.

[2018-02-18 15:43] psyhtest opened #134 ""ck install package:lib-caffe-intel-master-cpu" fails with ICC 18.0.1"
[code]

[2018-02-19 05:21] Chunosov opened #135 "Upgrage ImageNet LMDB packages"
1) Currently ck-caffe repo has a set of packages for ImageNet LMDB
[code]
and more can be added in future. All the packages contain the same `custom.py` and `install.sh` files. These files could be reused.

2) It's very hard to identify a package in the selection when several ones are installed:
[code]
One should carefully study a bunch of tags and search for something like `resize-227`.  It's be

[2018-02-19 10:44] psyhtest opened #136 ""ck install package:lib-caffe-intel-request-cpu" fails with LLVM 5.0"
After I [relaxed the compiler constraints](https://github.com/dividiti/ck-caffe/commit/2d1e56fd5edc90a8296c89db7d17fde4fdf27c3e) on building Caffe (i.e. allow to use C++ compilers other than GCC), I found that building with Clang (LLVM) fails due to linking issues:
[code]

I see at least 2 different issues:
1. Due to Boost regex (tried with 1.65.1 an 1.66.0, both full and `min-for-caffe`):
[code]

[2018-02-19 11:12] psyhtest commented on #134
Unfortunately, it's not possible now even to get to this stage (with any compiler!):
[code]

The culprit is the [`src/mkldnn.commit`](https://github.com/intel/caffe/blob/master/mkldnn.commit) file which references commit `ae00102be506ed0fe2099c6557df2aa88ad57ec1`:
[code]
As a temporary workaround, try the [ReQuEST artifact](https://github.com/ctuning/ck-request-asplos18-caffe-intel) branch:
[code]

[2018-02-19 12:06] psyhtest commented on #135
Makes a lot of sense!

[2018-02-21 04:09] Chunosov commented on #135
I've fixed p.2

[2018-02-21 18:02] ens-lg4 commented on #134
I have addressed this issue in the following commits:
https://github.com/ctuning/ck-env/commit/7ae2479b3947d5915fa580b2215b7b0c50fda981
and
https://github.com/dividiti/ck-caffe/commit/62ca14cc72b7e6854d07b0a12cfaae3484036b5f

Could you please pull from both repositories and try again?

[2018-02-21 18:18] psyhtest commented on #134
Cool, it works with a mix of dependencies (natively installed, compiled with GCC) and Boost compiled via ICC as well.

[2018-02-21 18:32] psyhtest commented on #134
Building from the ReQuEST branch also works:
[code]
Many thanks!

[2018-02-21 18:32] #134 closed, assigned to ens-lg4, gfursin

[2018-03-08 11:44] psyhtest commented on #134
Very weird. On my laptop where checking out used to fail (with GCC-6.3), it now works (with GCC-7.2):
[code]

[2018-03-13 01:49] dohai90 opened #137 ""ck install package:lib-caffe-bvlc-opencl-clblast-universal-tune " failed"
Hello,
Recently, I have read " ck-caffe-firefly-rk3399/script/batch_size-libs-models/analysis.20170531.ipynb
" and found that caffe with opencl-blast-tune give the highest performance on firefly rk3399 board.
So I try to install "lib-caffe-bvlc-opencl-clblast-universal-tune" package. However it's failed as below:
[code]
Is this issue related to this one https://github.com/CNugteren/CLBlast/issues/

[2018-03-15 19:01] gfursin commented on #137
Hi @dohai90. Thanks for reporting this issue. We are now awfully busy finishing ReQuEST tournament for ASPLOS (in a week), but will try to check/solve it shortly after!

[2018-03-16 11:38] fvella commented on #137
Hi @dohai90
I am going to reproduce your error. Could you please print out your ck environment?
``` ck show env ```

[2018-03-19 01:37] dohai90 commented on #137
Hi @fvella,
I attached ck env here.
[log_env.txt](https://github.com/dividiti/ck-caffe/files/1823423/log_env.txt)

Thank you.

[2018-03-19 11:53] fvella commented on #137
I unsuccessfully tried to reproduce your issue on Odroid system.
The only difference with your ck env is gcc compiler. I am using ``GNU C compiler  6.3.0``.
Do you have OpenCL header files installed?

[2018-03-19 17:33] psyhtest commented on #137
Specifically, do you have https://github.com/ARM-software/ComputeLibrary/blob/master/include/CL/cl2.hpp e.g. in `/usr/include/CL`?

[2018-03-20 05:40] dohai90 commented on #137
Dear all,

I try to install package:lib-caffe-bvlc-opencl-clblast-universal-tune on both firefly and odroid board but all failed with the same reason.
I attached here failed log for odroid and its env.
[Error_log.txt](https://github.com/dividiti/ck-caffe/files/1828030/Error_log.txt)
[ck show env.txt](https://github.com/dividiti/ck-caffe/files/1828031/ck.show.env.txt)

However, I can install packag

[2018-03-20 11:45] psyhtest commented on #137
@dohai90 CLBlast needs either CBLAS or CLBLAS for validation. As you can see, CBLAS is found, so you can ignore the CLBLAS errors.

[2018-03-20 11:53] psyhtest commented on #137
@dohai90 Please share the contents of your `/usr/include/CL/` folder e.g.:
[code]

[2018-03-20 12:26] dohai90 commented on #137
This is the content of `/usr/include/CL`:
[code]

[2018-03-20 13:49] psyhtest commented on #137
Hmm, don't see anything particularly suspicious... We may need help from @cnugteren here.

[2018-03-20 19:55] CNugteren commented on #137
The error seems to occur with one of the samples, so nothing critical there. This particular sample is based on the C++ API of OpenCL, which is "cl.hpp". When running CLBlast's CMake, it will download this file from Khronos [through this URL](https://www.khronos.org/registry/OpenCL/api/2.1/cl.hpp) and place it in the samples folder. I see you also have the file already on your system installed, so

[2018-03-20 20:29] gfursin commented on #137
Hi all. I just added more parameters to build CLBlast via CK:
--env.CK_CLTUNE_TUNERS
--env.CK_CLTUNE_CLIENTS
--env.CK_CLTUNE_SAMPLES
So, it's now possible to turn off samples as suggested by @CNugteren as following:
[code]
Hope it's of any help ...

[2018-03-20 21:05] CNugteren commented on #137
Thanks @gfursin. A bit wrongly named perhaps (CLTune instead of CLBlast), but it will surely fix the issue :-)

[2018-03-20 21:14] gfursin commented on #137
Hi @CNugteren . I actually fixed env names from CK_CLTUNE to CLBLAST, i.e.
[code]
i.e.
[code]

[2018-03-21 06:38] dohai90 commented on #137
@CNugteren, as your comment, the package needs to download other files from this [link](https://www.khronos.org/registry/OpenCL/api/2.1/cl.hpp) which is blocked by our university, I think that is the reason for this issue
@gfursin, I have tried your solution and it works.

Thank all for your kindly help.

[2018-03-21 08:10] gfursin commented on #137
Sure, @dohai90, you are welcome! And thanks @CNugteren for solution too!
By the way, we should move such OpenCL headers to a separate package at some point. We had a ticket about that for a long time but didn't have urgent cases. We will try to check it again: https://github.com/ctuning/ck-env/issues/44

[2018-03-21 08:10] #137 closed, assigned to ens-lg4, psyhtest, gfursin, fvella

[2018-05-31 09:22] Ziv-Huang opened #138 "ck compile error --target_os=android21-arm"

[2018-05-31 09:40] #138 closed, assigned to nobody

[2018-05-31 10:35] psyhtest commented on #138
@Ziv-Huang Hope you've managed to resolve your issue. The error was coming from [repo:ck-caffe-firefly-rk3399](https://github.com/dividiti/ck-caffe-firefly-rk3399/) which actually is not needed for correct operation of CK-Caffe. I'd be interested to hear what you are trying to do.

[2018-06-01 07:06] Ziv-Huang opened #139 "take rk3399 as an android device"
Hi all,

I want to run the caffe-classification in firefly rk3399, so i take it as an android device
and connect to a host machine via ADB. It can work on cpu mode, but i have no idea about how to work on gpu.

have any suggestion ?
thanks.

[2018-06-01 08:09] Chunosov commented on #139
You have to install one gpu-aware packages using android target flag, e.g.:
[code]
Then rebuild classification program against this package and using the same target flag, and then run it with the same flag.

Honestly I'm not pretty sure which flag should be used for firefly. You can list all available android targets via command
[code]

[2018-06-01 09:02] Ziv-Huang commented on #139
@Chunosov thanks for your reply !!

when i  try to this command :
"ck install package:lib-caffe-bvlc-opencl-clblast-universal --target_os=android23-arm-v7a"

it can't find file to patch:
Patching source directory ...
/home/alvin/CK/ck-env/package/lib-protobuf-3.2.0-android/patch.android/patch
can't find file to patch at input line 4
Perhaps you used the wrong -p or --strip option?
The text leading

[2018-06-01 09:45] gfursin commented on #139
Ups, that's my fault, @Ziv-Huang . I added ProtoBuf 3.2.0+ packages for Android recently and tested them on Windows (cross-compiling for Android). Unfortunately, patches prepared on Windows are incompatible with Linux (opposite is ok), so I updated them right now and committed. You should now be able to build them. Can you please do the following:
[code]
and then restart Caffe build, please?
Thank

[2018-06-01 09:47] gfursin commented on #139
The idea behind CK is to let the community use shared workflows and collaboratively fix encountered portability issues in shared packages across different platforms (like in your case), so thanks for your feedback!

[2018-06-01 09:59] Ziv-Huang commented on #139
@gfursin thanks,

it also can't find file to patch

$ ck install package:lib-protobuf-3.2.0-android --target_os=android23-arm-v7a

Patching source directory ...
/home/alvin/CK/ck-env/package/lib-protobuf-3.2.0-android/patch.android/patch
patching file cmake/install.cmake
patching file cmake/libprotoc.cmake
patching file cmake/protoc.cmake
/home/alvin/CK/ck-env/package/lib-protobuf-3.2.0-android/pa

[2018-06-01 10:06] gfursin commented on #139
I think you have an old or polluted repository. I don't see patch.orig in the master GitHub branch:
* https://github.com/ctuning/ck-env/tree/master/package/lib-protobuf-3.2.0-android/patch.android
You can clean up this repository as follows:
[code]
It will remove your current ck-env repo and will install a clean one - this should fix your problem ...

[2018-06-04 01:34] Ziv-Huang commented on #139
@Chunosov  @gfursin it works, thanks.

I have a question about caffe-classification and caffe-classification-opencl,

when i use caffe-classification-opencl, it shows the mode is gpu,
so the caffe-classification is only  cpu mode?

therefore, i try this
"$ ck compile program:caffe-classification-opencl --speed --target_os=android21-arm"
"$ ck run program:caffe-classification-opencl --target_os=and

[2018-06-04 09:45] gfursin commented on #139
Yes, that's right. caffe-classification is only for CPU mode ...

As for libOpenCL.so not found, note that libOpenCL.so on your host is a stub, i.e. it is used just to link an interface to the caffe-classification client, while the library itself is provided by a vendor and will be linked dynamically from your RK3399. This error means that libOpenCL.so is not in a standard path on your RK3399 - yo

[2018-06-04 10:09] Chunosov commented on #139
I can only find it in various `opencl-1.2-stubs` directories inside of `CK-TOOLS`...

[2018-06-04 13:01] gfursin commented on #139
@Chunosov - I speak about remove device (accessed via adb), not the host! You will not find vendor OpenCL libraries for Android on the host machine ...

[2018-06-04 13:06] gfursin commented on #139
Someone suggested to find it as follows:
[code]
I didn't test it though ...

[2018-06-04 13:09] gfursin commented on #139
Another possible issue is that it's not called libOpenCL.so but something else. In such case you may need to make a soft link to libOpenCL.so . I think we need to wait for an advice from @psyhtest !

[2018-06-04 13:18] Chunosov commented on #139
Actually I didn't search it on my host. I've logged onto firefly and searched there with
[code]

[2018-06-04 15:44] psyhtest commented on #139
@gfursin No idea :). @Ziv-Huang's RK3399 is running under Android, while ours is running under Linux. FWIW, the library may be called `libmali.so`.

@Chunosov It's weird you could find it.

[2018-06-05 01:31] Ziv-Huang commented on #139
I test the command "$ ck detect platform.gpgpu --opencl --target_os=android21-arm", and it shows that:

  -----------------------------------
  Resolving software dependencies ...

*** Dependency 1 = adb (adb tool):

    Resolved. CK environment UID = f7ee4c6cbbcab317 (detected version 1.0.32)
  -----------------------------------

Available remote devices:
  FFHYHTC001813000524VP1

Initializing d

[2018-06-05 01:35] Ziv-Huang commented on #139
I test the command "$ ck detect platform.gpgpu --opencl --target_os=android21-arm", and it shows that:

Resolving software dependencies ...

*** Dependency 1 = adb (adb tool):

Resolved. CK environment UID = f7ee4c6cbbcab317 (detected version 1.0.32)
Available remote devices:
FFHYHTC001813000524VP1

Initializing device ...

OS CK UOA: android21-arm (4d0f80a65f56a174)

OS name: Android 7.1.2
Short

[2018-06-05 01:42] Ziv-Huang commented on #139
I test the command "$ ck detect platform.gpgpu --opencl --target_os=android21-arm", and it shows that:

---------------------------------------------------------------------------------------------------------------
Resolving software dependencies ...

*** Dependency 1 = adb (adb tool):

Resolved. CK environment UID = f7ee4c6cbbcab317 (detected version 1.0.32)
Available remote devices:
FFHYHTC0018

[2018-06-07 11:48] gfursin commented on #139
@Ziv-Huang . If a vendor didn't provide OpenCL library to your platform, then OpenCL-version of Caffe will not work. There are two possible solutions:

1) It may still be a non-standard library name for OpenCL library on your platform. Can you please provide an output of the following commands:
[code]
For example, on my Samsung Galaxy S7 you can see the following:
[code]
2) If there is still no Op

[2018-06-14 19:10] mrgloom commented on #73
DAWNBench An End-to-End Deep Learning Benchmark and Competition
https://dawn.cs.stanford.edu/benchmark/

[2018-12-05 02:48] udexon opened #141 "CMake error: Android: No CMAKE_SYSROOT was selected."
https://github.com/ctuning/ck/issues/97

This error occurs at 2 computers I have tested. Both are x86_64 Ubuntu 18.04.
Any idea how to solve it?
Thank you very much.

[code]

[2018-12-05 19:43] gfursin commented on #141
Hi @udexon - thank you for reporting. I just checked the problem and see several issues.

First of all you selected a strange package "lib-caffe-bvlc-opencl-cpu-universal" for compilation - I don't remember what is that (@psyhtest ?) and it looks like it doesn't support Android. So I marked it as only for Linux/MacOS or Windows.

Second, I am not sure if Caffe master continues supporting Android a

[2018-12-05 20:19] udexon commented on #141
Thank you for the prompt reply!!

I was merely trying out the example on https://github.com/dividiti/ck-caffe/wiki/Installation under Android section:
```$ ck compile program:caffe-classification --target_os=android21-arm64```

I will try your suggestions.

What I intended to do is to use OpenCL on Android -- I suppose you are aware that Google does not officially support this.

I have read about

[2018-12-05 23:46] psyhtest commented on #141
Do you have specific OpenCL programs in mind that you wish to port to Android? How would you distribute them, via Google Play?

[2018-12-06 02:01] udexon commented on #141
There are several things need to be done before we can roll out our project as an Android app.

Firstly, we aim to enable OpenCL programming in an Android app like GForth ([github](https://github.com/forthy42/gforth), [Play Sotre](https://play.google.com/store/apps/details?id=gnu.gforth&hl=en_US))

(If you are not familiar Forth, please visit [comp.lang.forth](https://groups.google.com/forum/#!for

[2018-12-06 04:49] udexon commented on #141
@gfursin

Thanks a lot! It is working now.

Just need to make sure I choose the correct target platform now.

Thanks again for the amazing. Do let me know if I can contribute in any way.

[2018-12-06 08:49] gfursin commented on #141
You are welcome, @udexon !

Though CK and Basel can be used to build packages, CK is more a workflow framework with high-level Python APIs to automate, reproduce and share experiments - package building is just one (though essential) part of it ;) ...

By the way, if you have issues or feedback about CK, feel free to use our CK discussion group: https://groups.google.com/forum/#!forum/collective-k

[2018-12-06 08:49] #141 closed, assigned to ens-lg4, psyhtest, gfursin

[2018-12-06 09:38] psyhtest commented on #141
@udexon I used to lead the Mali OpenCL compiler team, so I would be pleased if OpenCL was used more on Android.

Oh, I know Forth. My classmate taught himself Forth some 25 years ago! (His OS choice was similarly unconventional: he played with OS/2 Warp when Windows 95 was all the rage.:))

How do you plan to execute Forth code on Android: are there cross-compilers available? Also, OpenCL is a C/C

[2018-12-06 11:14] udexon commented on #141
@psyhtest Here's a short article of mine, I hope you find it interesting: https://www.linkedin.com/pulse/multitiered-stack-machine-nsm-using-5gl-fifth-graph-ng-ph-d-/

It will be a long answer to address your comments -- which I am glad to. But I do not want to be rude to take up space here. I suggest you contact me via LinkedIn (as shown above). There is also some confidential information which I

[2018-12-06 16:03] psyhtest commented on #141
@udexon Thanks. I now have more questions (e.g. what's the connection between stack machines, graphs, cryptomining) but sadly no time to pursue this further at this time...

[2018-12-07 02:14] udexon commented on #141
@psyhtest [My latest post on comp.lang.forth](https://groups.google.com/d/msg/comp.lang.forth/eYiPcW8uPRY/UjoOjX9KDgAJ) may answer some of your questions.

You are welcome to alert / contact me via LinkedIn or post a question in my github repos -- should you want to find out latest updates.

[2018-12-07 12:37] udexon commented on #141
@psyhtest [My latest post on comp.lang.forth](https://groups.google.com/d/msg/comp.lang.forth/eYiPcW8uPRY/UjoOjX9KDgAJ) may answer some of your questions.

You are welcome to alert / contact me via LinkedIn or post a question in my github repos -- should you want to find out latest updates.

[2019-03-08 13:44] chenyuqing opened #142 "CK error: [program] can't find path to CK entry "module:program" (?:032630d041b4fd8a:?)!"
CK error: [program] can't find path to CK entry "module:program" (?:032630d041b4fd8a:?)!

[2019-03-09 08:14] gfursin commented on #142
Hi! Can you please provide a command line?

Usually this happens if you didn't pull CK repositories correctly and thus program module can't be found.

Did you use this command to get this repo:
[code]

Can you please show the output of this command to see all CK repos:
[code]

Also try to pull ck-caffe repo again and update all other repos:
[code]

Thanks!

[2019-06-29 21:36] eaangi opened #143 "Porting of a Caffe Net with a custom layer in Android"
I'm creating a project for my thesis.
I should bring a coffee network in android.
Is it possible to use CK to import a custom layer written in C ++?
I ran the coffee network in matlab and it works fine.
Thanks for your help.
F.

[2019-07-01 10:19] psyhtest commented on #142
Closing due to lack of response. Feel free to reopen.

[2019-07-01 10:19] #142 closed, assigned to nobody

[2019-07-01 10:28] psyhtest commented on #143
Hi @eaangi , thank you for your interest in CK-Caffe!

CK is not magic. But it can indeed help you cross-compile Caffe to run on Android. However, we haven't tried it for a long time. I'd suggest to install a stable version of Caffe first:
[code]
If it still works, you can try to create your own fork of Caffe (from the OpenCL branch at that moment in time). with your changes to support the custom

[2021-08-30 12:05] krn-sharma opened #144 "lib boost download from bintray failed"
Command -sudo ck run program:caffe
* caffe (569404c41618603a)

OS CK UOA:            linux-32 (fb525e34243f49c1)

OS name:              Ubuntu 16.04.7 LTS
Short OS name:        Linux 4.14.5
Long OS name:         Linux-4.14.5-92-armv7l-with-Ubuntu-16.04-xenial
OS bits:              32
OS ABI:               armv7l

Platform init UOA:    34fe49aa49a49937
**********************************************